<template>
  <div class="q-pa-md">
    <q-card dark bordered class="bg-grey-9 my-card">
      <q-card-section>
        <div class="text-h6">Upload Data Mesin & Peralatan</div>
      </q-card-section>

      <q-separator dark inset />

      <q-card-section>
        Upload data Mesin untuk update data di menu saldo mutasi mesin & peralatan,
        Klik Download Template untuk download template tersebut dan klik Upload
        Data jika sudah di isi di template yang sudah di download.
      </q-card-section>

      <q-card-actions vertical>
        <q-btn
          color="green"
          label="Download Template"
          icon="get_app"
          @click="downloadTemplate()"
        />
        <q-btn
          color="purple"
          label="Upload Data"
          icon="cloud_upload"
          @click="uploader()"
        />
      </q-card-actions>
    </q-card>

    <q-dialog v-model="uploaddata">
      <q-uploader
        label="Upload Excel Files"
        color="purple"
        square
        flat
        bordered
        auto-upload
        :factory="factoryFn"
        accept=".xlsx, .xls"
        :form-fields="files => [{ name: 'file', value: files[0] }]"
        @failed="info => failedupload(info)"
      />
    </q-dialog>
  </div>
</template>
<script>
import { HelpersComponent } from "../../components/HelpersComponent";

export default {
  mixins: [HelpersComponent],
  data: () => ({
    form: {},
    uploaddata: false,
    uploadPercentage: 0
  }),
  methods: {
    testing(test) {
      console.log(test);
    },
    uploader() {
      this.uploaddata = true;
    },
    factoryFn(file) {
      return new Promise((resolve, reject) => {
        resolve({
          url: this.mainUrl + "api/inventory/UploadMesin",
          method: "POST",
          header: [
            { name: "Content-Type", value: "multipart/form-data" },
            { name: "Accept", value: "application/json, text/plain, */*" }
          ]
        });
      });
    },
    failedupload(val) {
      let hasilfailed = JSON.parse(val.xhr.response);

      hasilfailed.forEach(fetch => {
        this.$q.notify({
          color: 'negative', 
          message: fetch, 
          icon: 'report_problem'
        });
      });
    },
    async downloadTemplate() {
      let opt = {
        methods: "get",
        url: "api/inventory/DownloadMesinTemplate"
      };

      let hasil = await this.postData(opt);
      window.open(this.mainUrl + hasil, "_blank");
    }
  },
  computed: {
    formFields() {
      const { customerID, brandID, yearID, seasonID } = this;
      return [
        { name: "customerID", value: "customerID" },
        { name: "brandID", value: "brandID" },
        { name: "yearID", value: "yearID" },
        { name: "seasonID", value: "seasonID" }
      ];
    }
  }
};
</script>
