<template>
  <div class="q-pa-md">
    <q-list bordered v-if="dataHeader[1]">
      <q-item
        v-for="(searching, idx) in dataHeader[1].form.filter(
          (fil) => fil.val || (fil.valselect && fil.valselect.length > 0)
        )"
        :key="idx"
        class="q-my-sm"
        clickable
        v-ripple
      >
        <q-item-section avatar>
          <q-item-label>{{ searching.field.label }}</q-item-label>
        </q-item-section>

        <q-item-section>
          <q-item-label>
            <b>
              {{
                searching.field.type === "month"
                  ? convertToMonth(searching.val)
                  : searching.field.type === "select"
                  ? `BC ${searching.valselect.join(", BC ")}`
                  : searching.val
              }}
            </b>
          </q-item-label>
        </q-item-section>

        <template v-if="searching.op === 'range'">
          <q-item-section>
            <q-item-label>To</q-item-label>
          </q-item-section>

          <q-item-section>
            <q-item-label
              ><b>{{
                searching.field.type === "month"
                  ? convertToMonth(searching.val2)
                  : searching.val2
              }}</b></q-item-label
            >
          </q-item-section>
        </template>
      </q-item>
    </q-list>

    <q-table
      class="my-sticky-header-column-table"
      :title="TableTitle"
      :data="data"
      :columns="headers"
      :row-key="tableOption.rowKeys"
      bordered
      :loading="loading"
      :pagination.sync="pagination"
      @request="onRequest"
      :filter="filter"
      dense
      color="primary"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <template v-for="col in props.cols">
            <q-th :key="col.name" :props="props" v-if="col.required">
              <template v-if="col.label === 'Stock Opname' && data.length > 0">
                {{ col.label }} <br />
                <b>({{ data[0].SALDO_OPN_DATE }})</b>
              </template>
              <template v-else>
                {{ col.label }}
              </template>
            </q-th>
          </template>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <template v-for="col in props.cols">
            <q-td :key="col.name" :props="props" v-if="col.required">
              <!-- Editing here -->
              <div v-if="col.field === 'btn'" class="text-center">
                <q-btn icon="visibility" color="cyan" dense @click="$emit('onBtnClick', props.row)"/>
              </div>
              <div v-else>
                {{
                  isInt(props.row[col.field]) || isFloat(props.row[col.field])
                    ? props.row[col.field].toLocaleString()
                    : props.row[col.field]
                }}
              </div>
            </q-td>
          </template>
        </q-tr>
      </template>

      <template v-slot:loading>
        <q-inner-loading showing color="primary" style="z-index: 9" />
      </template>
    </q-table>
  </div>
</template>
<script>
import { HelpersComponent } from "../HelpersComponent";
import { date } from "quasar";

export default {
  mixins: [HelpersComponent],
  props: [
    "tableKey",
    "TableTitle",
    "KolomHeader",
    "dataHeader",
    "tableOption",
    "filteredData",
  ],
  data() {
    return {
      columns: [],
      data: [],
      dataAll: [],
      loading: false,
      loadingAll: false,
      pagination: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 20,
        rowsNumber: 5,
      },
      filter: "",
      headers: [],
      refresh: 0,
    };
  },
  mounted() {
    this.headers = this.KolomHeader.filter((val) => {
      return val.hasOwnProperty("name");
    });

    let local = JSON.parse(localStorage.getItem(this.tableKey));

    if (local) {
      if (local.data.length > 0) {
        this.data = local.data;
      }
      // console.log(local);
      // console.log("masuk ke datatable nih");
    }

    this.pagination = this.filteredData;
  },
  methods: {
    convertToMonth(data) {
      let timestamp = new Date(data);
      return date.formatDate(timestamp, "MMMM YYYY");
    },
    isInt(n) {
      return Number(n) === n && n % 1 === 0;
    },
    isFloat(n) {
      return Number(n) === n && n % 1 !== 0;
    },
    async onRequest(props) {
      let { page, rowsPerPage, rowsNumber, sortBy, descending } =
        props.pagination;
      let joinFirstHeader = { ...this.dataHeader[1], ...props };
      let newHeader = [this.dataHeader[0], joinFirstHeader];

      // Post Specific data
      this.loading = true;
      let posted = await this.getData(newHeader);
      if (posted) {
        this.loading = false;
        // console.log(this.loading)
        let converttoarray =
          typeof posted.data === "object"
            ? Object.keys(posted.data).map((valmap) => {
                return posted.data[valmap];
              })
            : posted.data;
        this.data = converttoarray;
        this.pagination.rowsNumber = posted.total;
        this.pagination.page = posted.current_page;
        this.pagination.rowsPerPage = posted.per_page;
        // this.pagination.sortBy = sortBy;
        // this.pagination.descending = descending;
      }
    },
    async getData(dataHead) {
      let a = await this.postData(dataHead[0], dataHead[1]);

      this.$emit("dataResult", a.data);
      return a;
    },
    async getDataAll() {
      // Post All Data if dataAll is empty
      let propsAll = {
        pagination: {
          descending: false,
          page: 1,
          rowsNumber: 12,
          rowsPerPage: 0,
          sortBy: "name",
          exportData: true,
        },
      };

      // console.log(propsAll)

      let joinFirstHeader = { ...this.dataHeader[1], ...propsAll };
      let newHeader = [this.dataHeader[0], joinFirstHeader];

      this.loading = true;
      let hasil = await this.postData(newHeader[0], newHeader[1]);

      if (hasil) {
        this.loading = false;

        let hasiltemp = [];

        hasil.data.forEach((val, idx) => {
          hasiltemp.push(val);
        });

        this.$emit("dataAllResult", hasiltemp);
      }
    },
    async savednih(last, now, index) {
      // console.log([last, now, index]);
    },
  },
  watch: {
    dataHeader: {
      async handler(params, paramsOld) {
        if (params.length != 0) {
          console.log(this.data.length);
          if (this.data && this.data.length == 0) {
            this.data = [];
            this.dataAll = [];
            this.loading = true;
            let getdata = await this.getData(params);
            if (getdata) {
              this.loading = false;
              this.data = getdata.data;

              this.pagination = {
                descending: false,
                page: getdata.current_page,
                rowsNumber: getdata.total,
                rowsPerPage: getdata.per_page,
                sortBy: "name",
                exportData: true,
              };
            }
          }
          // this.getDataAll();
        } else {
          this.data = [];
          this.dataAll = [];
        }
      },
      deep: false,
    },
    pagination: {
      handler(val) {
        // console.log(val);
        this.$emit("filteredData", val);
        this.$emit("dataResult", this.data);
      },
      deep: true,
    },
  },
};
</script>
<style lang="sass">
.my-sticky-header-column-table
  /* specifying max-width so the example can
   highlight the sticky column on any browser window */
  //max-width: 600px
  background: #c1f4cd

  /* max height is important */
  .q-table__middle
    max-height: 400px
    background: #fff

  td:nth-child(1)
    /* bg color is important for td; just specify one */
    background-color: #bdbdbd !important

  td:nth-child(2)
    /* bg color is important for td; just specify one */
    background-color: #bdbdbd !important

  tr th
    position: sticky
    /* higher than z-index for td below */
    z-index: 2
    /* bg color is important; just specify one */
    background: #c1f4cd

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
    /* highest z-index */
    z-index: 3

  thead tr:nth-child(1) th
    top: 0
    z-index: 2
  tr:nth-child(1) th:nth-child(1)
    /* highest z-index */
    z-index: 3

  td:nth-child(1)
    z-index: 1

  td:nth-child(1), th:nth-child(1)
    position: sticky
    left: 0

  thead tr:nth-child(2) th
    top: 0
    z-index: 1

  tr:nth-child(2) th:nth-child(2)
    /* highest z-index */
    z-index: 3

  td:nth-child(2)
    z-index: 1

  td:nth-child(2), th:nth-child(2)
    position: sticky
    left: 30px

.q-table tbody td
  font-size: 11px

.month-picker__container
  z-index: 2
</style>
