<template>
  <q-input filled v-model="date" :label="labeldate" dense>
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy
          transition-show="scale"
          transition-hide="scale"
          @before-show="updateProxy"
        >
          <q-date
            v-model="proxyDate"
            mask="YYYY-MM-DD"
            v-if="model == 'month'"
            :options="getfirstdate"
          >
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Cancel" color="primary" flat v-close-popup />
              <q-btn
                label="OK"
                color="primary"
                flat
                @click="savefdate"
                v-close-popup
              />
            </div>
          </q-date>
          <q-date
            v-model="proxyDate"
            mask="YYYY-MM-DD"
            v-else
          >
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Cancel" color="primary" flat v-close-popup />
              <q-btn
                label="OK"
                color="primary"
                flat
                @click="savefdate"
                v-close-popup
              />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>
<script>
export default {
  props: {
    labeldate: String,
    value: String,
    model: String
  },
  model: {
    event: `modified`
  },
  data() {
    return {
      date: this.value,
      label: "",
      proxyDate: new Date()
        .toJSON()
        .slice(0, 10)
    };
  },
  methods: {
    updateProxy() {
      this.proxyDate = this.date;
    },
    savefdate() {
      this.date = this.proxyDate;

      this.$emit("modified", this.date);
    },
    getfirstdate(date){
      const parts = date.split('/')
      return parts[2] == 1
    }
  },
  watch: {
    label: function(val) {
      this.label = val;
    },
    value: function(val) {
      this.date = val;
    }
  }
};
</script>
