<template>
  <div>
    <q-input v-model="dept" label="Departement" dense />
  </div>
</template>
<script>
export default {
  props: ['value'],
  data() {
    return {
      dept: this.value
    };
  },
  watch: {
    dept(val) {
      this.$emit('input', val)
    }
  }
};
</script>
