<template>
  <div class="q-pa-md">
    <q-stepper
      v-model="step"
      vertical
      color="primary"
      animated
      :key="refreshedKey"
    >
      <q-step :name="1" title="Select Item" icon="settings" :done="step > 1">
        Select your item part / model part, it will automatically will change
        your next choose

        <itemPart v-model="form.model" />

        <q-stepper-navigation>
          <q-btn
            @click="step = 2"
            color="primary"
            label="Continue"
            :disable="form.model ? false : true"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step
        :name="2"
        title="Create a description"
        icon="create_new_folder"
        :done="step > 2"
      >
        Complete description here to create new scrap transaction

        <dojob :partmodel="form.model" v-model="form" />

        <q-stepper-navigation>
          <q-btn
            @click="step = 3"
            color="primary"
            label="Continue"
            :disable="form.wo ? false : true"
          />
          <q-btn
            flat
            @click="step = 1"
            color="primary"
            label="Back"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step :name="3" title="Additional Information" icon="add_comment">
        Add additional information for this scrap report

        <additionalInfo v-model="form.dept" />

        <q-stepper-navigation>
          <q-btn
            @click="step = 4"
            color="primary"
            label="Continue"
            :disable="form.dept ? false : true"
          />
          <q-btn
            flat
            @click="step = 2"
            color="primary"
            label="Back"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step :name="4" title="Fill Scrap Info" icon="add_comment">
        Now fill scrap information for this form

        <scrapInput :form="form" v-model="choosedProces" />

        <q-stepper-navigation>
          <q-btn color="primary" label="Finish" @click="onSubmit()" />
          <q-btn
            flat
            @click="step = 3"
            color="primary"
            label="Back"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </q-step>
    </q-stepper>
    <q-btn label="reset" color="primary" flat @click="onReset(true)" />
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
import _ from "lodash";

import itemPart from "./selectItemPartModel";
import dojob from "./selectDOAndJob";
import additionalInfo from "./additionalInfo";
import scrapInput from "./scrapInput";

export default {
  mixins: [HelpersComponent],
  components: { itemPart, dojob, additionalInfo, scrapInput },
  data() {
    return {
      step: 1,
      form: {
        model: null,
        process: "",
        wo: "",
        do: "",
        dept: ""
      },
      choosedProces: [],
      refreshedKey: 0
    };
  },
  methods: {
    onSubmit() {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Do you want to process this scrap report ?",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          const data = {
            ...this.form,
            inputProcess: this.choosedProces,
            type: "NORM",
            username: this.authState.auth.MSTEMP_ID
          };

          let posted = await this.postData(
            {
              loading: true,
              methods: "post",
              url: "api/inventory/storeHistScrap"
            },
            data
          );

          if (posted) {
            console.log(posted);
            this.$q.notify({
              message: "Input success !",
              color: "green"
            });

            this.onPrint(posted);

            this.onReset();
          }
        });
    },
    onPrint(id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Do you want to print this report ?",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.$axios
            .get(`${this.mainUrl}api/inventory/printScrap/${btoa(id)}`, {
              responseType: "arraybuffer",
              headers: {
                "Content-Type": "application/json",
                Accept: "application/pdf"
              }
            })
            .then(response => {
              console.log(response);
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", "scrap_report.pdf");
              document.body.appendChild(link);
              link.click();
            });
        });
    },
    onReset(confirm = false) {
      if (confirm) {
        this.$q
          .dialog({
            title: "Confirm",
            message: "Do you want to reset this input ?",
            cancel: true,
            persistent: true
          })
          .onOk(async () => {
            this.refreshedKey = this.refreshedKey + 1;
            this.form = {
              model: null,
              process: "",
              wo: "",
              do: "",
              dept: ""
            };
            this.choosedProces = [];
          });
      } else {
        this.refreshedKey = this.refreshedKey + 1;
        this.form = {
          model: null,
          process: "",
          wo: "",
          do: "",
          dept: ""
        };
        this.choosedProces = [];
      }
    }
  }
  //   watch: {
  //     form: {
  //       deep: true,
  //       handler: _.debounce(async function(val) {
  //         let cek = Object.keys(val).filter(
  //           valfil =>
  //             (val["model"] === null || val["process"] === "") &&
  //             val["model"] == "1"
  //         );

  //         if (cek.length === 0 && !val.wo) {
  //           let posted = await this.postData({
  //             loading: true,
  //             methods: "get",
  //             url: `api/inventory/getListMapProcess/${btoa(
  //               val.model.item
  //             )}/${btoa(val.process)}`
  //           });

  //           if (posted) {
  //             this.dataList = posted;

  //             this.getWOList();
  //           }
  //         }
  //       }, 2000)
  //     }
  //   }
};
</script>
