<template>
  <div>
    <q-list v-if="dataMapping.length > 0">
      <q-item-label header>Choose Mapping Process</q-item-label>

      <q-item tag="label" v-ripple v-for="data in dataMapping" :key="data.id">
        <q-item-section>
          <q-item-label>{{ data.RPDSGN_DESC }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-radio dense v-model="choosedProces" :val="data.DET" />
        </q-item-section>
      </q-item>
    </q-list>

    <q-list v-if="dataMapping.length > 0 && choosedProces.length > 0">
      <q-item-label header>Choose Process</q-item-label>

      <q-item
        tag="label"
        v-ripple
        v-for="(dataDet, idxDet) in choosedProces[0].PROCESS"
        :key="dataDet.id"
      >
        <q-item-section>
          <q-item-label
            >{{ dataDet.process_mstr.RPDSGN_DESC }} ({{
              dataDet.RPDSGN_PRO_ID
            }})</q-item-label
          >
        </q-item-section>
        <q-item-section side>
          <q-input
            label="Qty"
            type="number"
            v-model="choosedProces[0].PROCESS[idxDet]['scrapqty']"
          />
          <q-input
            label="Reason"
            v-model="choosedProces[0].PROCESS[idxDet]['reason']"
          />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  props: ["value", "form"],
  data() {
    return {
      dataMapping: [],
      choosedProces: ""
    };
  },
  created() {
    if (this.form.model && this.form.model.flag == "1") {
      this.findMappingProcess();
    } else {
      this.dataMapping= [{
        RPDSGN_DESC: 'Scrap Material Part',
        DET: [{
            PROCESS: [{
                id: '',
                RPDSGN_PROCD: 'PART SCRAP',
                RPDSGN_PRO_ID: 'PART',
                process_mstr: {
                    RPDSGN_DESC: 'PROCESS PART SCRAP'
                }
            }]
        }]
      }]
    }
  },
  methods: {
    async findMappingProcess() {
      let posted = await this.postData({
        loading: true,
        methods: "get",
        url: `api/inventory/getListMapProcess/${btoa(
          this.form.model.item
        )}/${btoa(this.form.process)}`
      });

      if (posted) {
        this.dataMapping = posted;
      }
    }
  },
  watch: {
    choosedProces: {
        deep: true,
        handler(val) {
            this.$emit('input', val)
            console.log(val)
        }
    }
  }
};
</script>
