<template>
  <div>
    <template v-if="partmodel.flag === '1'">
      <span class="text-h6">Model Choosed</span>
      <br />
      <q-input
        v-model="form.process"
        label="Process Code"
        dense
        :debounce="2000"
      />
      <br />
      <q-select
        v-model="form.wo"
        :options="filteredWOList"
        dense
        label="Job Number Choose"
        use-input
        @filter="filterWOList"
        :disable="woList.length > 0 ? false : true"
      />

    </template>
    <template v-else>
      <span class="text-h6">Part Choosed</span>
      <q-input
        v-model="form.process"
        label="LOT No"
        dense
        :debounce="2000"
      />
      <br />
      <q-select
        v-model="form.wo"
        :options="filteredDOList"
        dense
        label="DO Number Choose"
        use-input
        @filter="filterDOList"
        :disable="doList.length > 0 ? false : true"
      />
    </template>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
import _ from "lodash";
export default {
  mixins: [HelpersComponent],
  props: ["partmodel"],
  data() {
    return {
      form: {
        process: "",
        wo: ""
      },
      filteredWOList: [],
      woList: [],
      filteredDOList: [],
      doList: []
    };
  },
  created() {
    console.log(this.partmodel)
  },
  methods: {
    async findJob() {
      let posted = await this.postData(
        {
          loading: true,
          methods: "post",
          url: "api/inventory/findListWO"
        },
        { model: this.partmodel, process: this.form.process }
      );

      if (posted) {
        if (posted.length > 0) {
          this.woList = [];
          this.doList = [];
          posted.map(val => {
            this.woList.push(val.PIS2_WONO);
          });

          this.$q.notify({
            message: "Job Number found !",
            color: "green"
          });
        } else {
          this.$q.notify({
            message: "Whoops, no Job Number found !",
            color: "red"
          });

          this.form.process = "";
          this.woList = [];
        }
      }
    },

    async findDO() {
      let posted = await this.postData(
        {
          loading: true,
          methods: "post",
          url: "api/inventory/findListDO"
        },
        { model: this.partmodel, process: this.form.process }
      );

      if (posted) {
        if (posted.length > 0) {
          this.doList = [];
          this.woList = [];
          posted.map(val => {
            this.doList.push(val.RCVSCN_DONO);
          });

          this.$q.notify({
            message: "DO Number found !",
            color: "green"
          });
        } else {
          this.$q.notify({
            message: "Whoops, no DO Number found !",
            color: "red"
          });

          this.doList = [];
        }
      }
    },

    filterWOList(val, update) {
      if (val === "") {
        update(() => {
          this.filteredWOList = this.woList;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      const hasil = [];
      update(() => {
        const needle = val.toLowerCase();
        this.filteredWOList = this.woList.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterDOList(val, update) {
      if (val === "") {
        update(() => {
          this.filteredDOList = this.doList;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      const hasil = [];
      update(() => {
        const needle = val.toLowerCase();
        this.filteredDOList = this.doList.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  },
  watch: {
    "form.process": function(val) {
      if (val !== "") {
        if (this.partmodel.flag == "1") {
          this.findJob();
        } else {
          this.findDO();
        }
      }
    },
    form: {
      deep: true,
      handler(val) {
        let cekkosong = Object.keys(val).filter(valfil => !valfil)

        if (cekkosong.length === 0) {
            this.$emit('input', { model: this.partmodel, process: this.form.process , wo: this.form.wo, dept: ''})
        }
      }
    }
  }
};
</script>
