<template>
  <div>
    <q-select
      v-model="modelTemp"
      use-input
      fill-input
      input-debounce="1000"
      label="Find and choose your item"
      :options="modelList"
      @filter="(val, update, abort) => getModelList(val, update)"
      dense
      emit-value
      map-options
      use-chips
      :loading="loading"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">
            No results
          </q-item-section>
        </q-item>
      </template>
      <template v-slot:append>
        <q-btn round dense flat icon="check" color="green"/>
      </template>
    </q-select>

    <br>

    <q-list bordered separator>
      <q-item clickable v-ripple v-for="(mdl, idx) in modelTemp" :key="idx">
        <q-item-section avatar>
          <q-icon name="signal_wifi_off" />
        </q-item-section>
        <q-item-section>Active</q-item-section>
        <q-item-section side>Side</q-item-section>
      </q-item>
    </q-list>

    <template v-if="model">
      <span class="text-h6"
        >Selected Items {{ model.item }} ({{ model.desc }})</span
      >
    </template>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  props: ["value"],
  mixins: [HelpersComponent],
  data() {
    return {
      model: null,
      modelTemp: null,
      modelList: [],
      loading: false
    };
  },
  created() {
    if (this.value) {
      this.model = this.value;
    }
  },
  methods: {
    getModelList(val, update) {
      update(async () => {
        if (val !== "") {
          const needle = val.toLowerCase();
          let posted = await this.postData({
            loading: false,
            methods: "get",
            url: `api/inventory/getItemModel/${btoa(needle)}`
          });

          this.loading = true;

          if (posted) {
            this.modelList = [];
            posted.map(valMap => {
              this.modelList.push({
                value: {
                  item: valMap.MITM_ITMCD.trim(),
                  desc: valMap.MITM_ITMD1.trim(),
                  flag: valMap.MITM_MODEL
                },
                label: `${valMap.MITM_ITMD1.trim()} (${valMap.MITM_ITMCD.trim()})`
              });
            });
            this.loading = false;
          }
        }
      });
    }
  },
  watch: {
    model: {
      deep: true,
      handler(val) {
        this.$emit("input", val);
      }
    },
    modelTemp: {
      deep: true,
      handler(val) {
        if (val) {
          this.model = val;
        }
      }
    }
  }
};
</script>
