<template>
  <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md q-pa-md">
    <q-input
      filled
      v-model="menu_id"
      label="Menu ID *"
      lazy-rules
      :rules="[
        val => (val && val.length > 0) || 'Please type something',
        val => (val && /^[\S]+$/.test(val)) || 'Please dont add space'
      ]"
      @input="val => checkID(val)"
    >
      <template v-slot:append>
        <q-btn round dense flat icon="search" @click="searchmenu = !searchmenu"/>
      </template>
    </q-input>

    <q-input
      filled
      v-model="menu_nm"
      label="Menu Name *"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Please type something']"
      ref="inputname"
    />

    <q-input
      filled
      v-model="menu_desc"
      label="Menu Desc *"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Please type something']"
    />

    <q-input
      filled
      v-model="menu_url"
      label="Menu URL"
    />

    <q-select
      filled
      v-model="menu_parent"
      :options="filtered_menu"
      label="Menu Parent"
      color="teal"
      clearable
      options-selected-class="text-deep-orange"
      @filter="filterFnMenu"
      use-input
    >
      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
          <q-item-section>
            <q-item-label v-html="scope.opt.label" />
          </q-item-section>
        </q-item>
      </template>
    </q-select>

    <q-select
      filled
      v-model="menu_icon"
      :options="filtered"
      label="Menu Icon"
      color="teal"
      clearable
      options-selected-class="text-deep-orange"
      @filter="filterFn"
      use-input
    >
      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
          <q-item-section avatar>
            <q-icon :name="scope.opt.value" />
          </q-item-section>
          <q-item-section>
            <q-item-label v-html="scope.opt.label" />
          </q-item-section>
        </q-item>
      </template>
    </q-select>

    <div>
      <q-btn :label="submitButton" type="submit" color="primary" />
      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />

      <q-btn
        label="delete"
        type="submit"
        color="red"
        flat
        class="q-ml-sm float-right"
        v-if="status == 'update' || status == 'delete'"
        @click="status = 'delete'"
      />
    </div>

    <q-dialog v-model="searchmenu" persistent>
      <SearchMenu v-on:searchdata="getDataMenu" :getmenu="listAll_menu"/>
    </q-dialog>

  </q-form>
</template>

<script>
import app_icon from "../../../components/Icon/mdicon-google.json";
import { HelpersComponent } from "../../../components/HelpersComponent";
import SearchMenu from "./SearchMenu";
import _ from 'lodash';
import debounce from 'debounce'

export default {
  mixins: [HelpersComponent],
  components: {SearchMenu},
  data() {
    return {
      menu_id: "",
      menu_nm: "",
      menu_desc: "",
      menu_url: "",
      menu_parent: 0,
      menu_icon: "",
      list_icon: [],
      filtered: [],
      filtered_menu: [],
      list_menu: [],
      submitButton: "Submit",
      status: "new",
      searchmenu: false,
      listAll_menu: []
    };
  },
  created() {
    app_icon.map(val => {
      this.list_icon.push({
        value: val.name,
        label: val.name
      });
    });

    this.filtered = this.list_icon;

    this.getMenuParent();
  },
  methods: {
    async onSubmit() {
      let opt = {
        methods: "post",
        url: `api/menuadd/${this.status}`,
        loading: true
      };

      let data = {
        menu_id: this.menu_id,
        menu_nm: this.menu_nm,
        menu_desc: this.menu_desc,
        menu_url: this.menu_url,
        menu_parent: this.menu_parent.value ? this.menu_parent.value : this.menu_parent,
        menu_icon: this.menu_icon.value ? this.menu_icon.value : this.menu_icon
      };

      let hasil = await this.postData(opt, data);

      if (hasil) {
        alert("Saved successful");
        this.onReset()
        this.getMenuParent();
      } else {
        this.onReset()
        this.getMenuParent();
      }
    },
    onReset() {
      this.menu_id = "";
      this.menu_nm = "";
      this.menu_desc = "";
      this.menu_url = "";
      this.menu_parent = 0;
      this.menu_icon = "";
      this.submitButton = "Submit";
      this.status = "new";
    },
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.filtered = this.list_icon;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.filtered = this.list_icon.filter(
          v => v.value.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterFnMenu(val, update) {
      if (val === "") {
        update(() => {
          this.filtered_menu = this.list_menu;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.filtered_menu = this.list_menu.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async getMenuParent() {
      let opt = {
        methods: "get",
        url: "api/mobile/getmenuall/bukanparent"
      };

      let hasil = await this.postData(opt);

      if (hasil) {
        this.list_menu = [];
        this.list_menu.push({
          value: 0,
          label: "No Parent"
        });
        hasil.map(val => {
          this.list_menu.push({
            value: val.MENU_ID,
            label: val.MENU_NAME
          });
        });

        this.listAll_menu = hasil

        this.filtered_menu = this.list_menu;
      }
    },
    checkID: _.debounce(async function (val) {
      if (val) {
        let opt = {
          methods: "get",
          url: `api/getmenu/${this.menu_id}`,
          loading: true
        };

        let hasil = await this.postData(opt);
        
        if (hasil) {
          this.$q
            .dialog({
              title: "Confirm",
              message: "This ID is exists, do want to update?",
              cancel: true,
              persistent: true
            })
            .onOk(() => {
              this.menu_nm = hasil.MENU_NAME;
              this.menu_desc = hasil.MENU_DSCRPTN;
              this.menu_url = hasil.MENU_URL;
              this.menu_parent = hasil.MENU_PRNT;
              this.menu_icon = hasil.MENU_ICON;
              this.submitButton = "Update";
              this.status = "update";
            })
            .onCancel(() => {
              this.onReset();
            });
        } else {
          this.$q.notify({
            color: "primary",
            message: "Add new Data",
            icon: "add"
          });
        }
      }
    },500),
    getDataMenu(val){
      this.menu_id = val.MENU_ID
      this.checkID(val)
      
      this.searchmenu = false
    }
  },
};
</script>
