<template>
  <q-card style="width: 100vh">
    <q-card-section>
      <div class="text-h4">Browse Menu</div>
    </q-card-section>
    <q-card-section class="q-pt-none">
      <q-table
        :data="getmenu"
        :columns="columns"
        row-key="MENU_ID"
        selection="single"
        :selected.sync="selected"
      >
        <template v-slot:header="props">
          <q-tr :props="props">
            <q-th class="text-italic text-purple">
              Choose Menu
            </q-th>
            <q-th
              v-for="col in props.cols"
              :key="col.name"
              :props="props"
              class="text-italic text-purple"
            >
              {{ col.label }}
            </q-th>
          </q-tr>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td auto-width>
              <!-- <q-checkbox :disable="props.row.TH_QTY > 0 ? false : true" v-model="props.selected" /> -->
              <q-toggle dense v-model="props.selected" />
            </q-td>
            <q-td key="MENU_ID" :props="props">
              {{ props.row.MENU_ID }}
            </q-td>
            <q-td key="MENU_NAME" :props="props">
              {{ props.row.MENU_NAME }}
            </q-td>
            <q-td key="MENU_DSCRPTN" :props="props">
              {{ props.row.MENU_DSCRPTN }}
            </q-td>
            <q-td key="MENU_PRNT" :props="props">
              {{ props.row.MENU_PRNT }}
            </q-td>
            <q-td key="MENU_URL" :props="props">
              {{ props.row.MENU_URL }}
            </q-td>
            <q-td key="MENU_ICON" :props="props">
              {{ props.row.MENU_ICON }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </q-card-section>
    <q-list>
      <q-item clickable :disable="selected.length > 0 ? false : true" @click="chooseMenu()">
        <q-item-section avatar>
          <q-icon color="primary" name="print" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Update menu</q-item-label>
          <q-item-label caption
            >Update this menu, choose data above first.</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item clickable v-close-popup>
        <q-item-section avatar>
          <q-icon color="yellow" name="cancel" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Cancel</q-item-label>
          <q-item-label caption>Close this modal.</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>
<script>
import { HelpersComponent } from "../../../components/HelpersComponent";

export default {
  mixins: [HelpersComponent],
  props: ["getmenu"],
  data() {
    return {
      prompt: false,
      columns: [
        {
          name: "MENU_ID",
          label: "Menu ID",
          field: "MENU_ID",
          sortable: true
        },
        {
          name: "MENU_NAME",
          label: "Menu Name",
          field: "MENU_NAME",
          sortable: true
        },
        {
          name: "MENU_DSCRPTN",
          label: "Menu Description",
          field: "MENU_DSCRPTN",
          sortable: true
        },
        {
          name: "MENU_PRNT",
          label: "Menu Parent",
          field: "MENU_PRNT",
          sortable: true
        },
        {
          name: "MENU_URL",
          label: "Menu URL",
          field: "MENU_URL",
          sortable: true
        },
        {
          name: "MENU_ICON",
          label: "Menu Icon",
          field: "MENU_ICON",
          sortable: true
        }
      ],
      data: [],
      selected: []
    };
  },
  methods: {
      chooseMenu(){
          this.$emit('searchdata', this.selected[0])
      }
  },
  watch: {
      getmenu: function(val){
          console.log(val)
      }
  }
};
</script>
