<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/MutasiStockExport/OUT'"
      v-on:filterResult="getFilterResult"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width:100%">
      <DataTable
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
      />
    </div>
  </div>
</template>
<script>
import DataTable from "../../../components/Helper/DataTable.vue";
import DataTableFilter from "../../../components/Helper/DataTableFilter.vue";
import { HelpersComponent } from "../../../components/HelpersComponent";
import saveState from "vue-save-state";

export default {
  name: 'PengeluaranPabean',
  mixins: [HelpersComponent, saveState],
  components: {
    DataTable,
    DataTableFilter
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("mutasistock|PengeluaranPabean"));

    if (local) {
      this.data = local.data;
      this.dataAll = local.dataAll;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
    }
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "DLV_BCTYPE",
          required: true,
          label: "Jenis Pabean",
          field: "RPBEA_JENBEA",
          value: "RPBEA_JENBEA",
          sortable: true,
          type: "select",
          selectOpt: [
            {
              label: "BC 1.0",
              value: "10"
            },
            {
              label: "BC 1.1",
              value: "11"
            },
            {
              label: "BC 1.2",
              value: "12"
            },
            {
              label: "BC 1.3",
              value: "13"
            },
            {
              label: "BC 2.0",
              value: "20"
            },
            {
              label: "BC 2.1",
              value: "21"
            },
            {
              label: "BC 2.2",
              value: "22"
            },
            {
              label: "BC 2.3",
              value: "23"
            },
            {
              label: "BC 2.4",
              value: "24"
            },
            {
              label: "BC 2.5",
              value: "25"
            },
            {
              label: "BC 2.6.1",
              value: "261"
            },
            {
              label: "BC 2.6.2",
              value: "262"
            },
            {
              label: "BC 2.7",
              value: "27"
            },
            {
              label: "BC 3.0",
              value: "30"
            },
            {
              label: "BC 3.2",
              value: "32"
            },
            {
              label: "BC 4.0",
              value: "40"
            }
          ],
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "DLV_BCNO",
          required: true,
          label: "No Pabean",
          field: "RPBEA_NUMBEA",
          value: "RPBEA_NUMBEA",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "tglpabean",
          required: true,
          label: "Tgl Pabean",
          field: "RPBEA_TGLBEA",
          value: "RPBEA_TGLBEA",
          type: "date",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nosj",
          required: true,
          label: "No Bukti",
          field: "RPBEA_NUMSJL",
          value: "RPBEA_NUMSJL",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "tglsj",
          required: true,
          label: "Tgl Bukti",
          field: "RPBEA_TGLSJL",
          value: "RPBEA_TGLSJL",
          type: "date",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nopen",
          required: true,
          label: "No Aju",
          field: "RPBEA_NUMPEN",
          value: "RPBEA_NUMPEN",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "tglpen",
          required: true,
          label: "Tgl Aju",
          field: "RPBEA_TGLPEN",
          value: "RPBEA_TGLPEN",
          type: "date",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "supp",
          required: true,
          label: "Penerima Barang",
          field: "MCUS_CUSNM",
          value: "MCUS_CUSNM",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "kodebrg",
          required: true,
          label: "Kode Barang",
          field: "RPBEA_ITMCOD",
          value: "RPBEA_ITMCOD",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nmbrg",
          required: true,
          label: "Nama Barang",
          field: "MITM_ITMD1",
          value: "MITM_ITMD1",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "jum",
          required: true,
          label: "Jumlah",
          field: "RPBEA_QTYJUM",
          value: "RPBEA_QTYJUM",
          type: "int",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "um",
          required: true,
          label: "Satuan",
          field: "RPBEA_UNITMS",
          value: "RPBEA_UNITMS",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "valas",
          required: true,
          label: "Valas",
          field: "RPBEA_VALAS",
          value: "RPBEA_VALAS",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nilai",
          required: true,
          label: "Nilai",
          field: "QTY",
          align: 'right',
          headerStyle: 'text-align: center',
        }
      ],
      JudulTable: "LAPORAN PENGELUARAN BARANG PER DOKUMEN PABEAN",
      data: [],
      dataAll: [],
      tableRequest: [],
      tableOption: []
    };
  },
  methods: {
    getDataResult(val) {
      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      let opt = {
        methods: "post",
        url: "api/inventory/MutasiStockNew/table/OUT"
      };

      let optTable = {
        rowKeys: "DLV_ITMCD"
      };

      // Sendto getData DataTable.vue
      this.tableRequest = [opt, val];
      this.tableOption = optTable;
    },
    onReset(val) {
      this.tableRequest = [];
    },
    getSaveStateConfig() {
      return {
        cacheKey: "mutasistock|PengeluaranPabean"
      };
    }
  }
};
</script>
