<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/wms_user_log/export'"
      :methodsUrl="'patch'"
      v-on:filterResult="getFilterResult"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width: 100%">
      <DataTable
        :tableKey="'logs|WMSUserLogs'"
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
        v-on:filteredData="cekFilter"
        :filteredData="filter"
      />
    </div>
  </div>
</template>
<script>
import DataTableFilter from "../../components/Helper/DataTableFilter.vue";
import DataTable from "../../components/Helper/DataTable.vue";
import { HelpersComponent } from "../../components/HelpersComponent";
import saveState from "vue-save-state";
export default {
  name: "WMSUserLogs",
  mixins: [HelpersComponent, saveState],
  components: {
    DataTableFilter,
    DataTable,
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("logs|WMSUserLogs"));
    if (local) {
      this.data = local.data;
      this.filter = local.filter;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
    }
    this.sendLogs(this.JudulTable, 'enter_menu', this.authState.auth.MSTEMP_ID)
  },
  beforeDestroy() {
    this.sendLogs(this.JudulTable, 'exit_menu', this.authState.auth.MSTEMP_ID)
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "MSTEMP_ID",
          required: true,
          label: "Username",
          field: "MSTEMP_ID",
          value: "MSTEMP_ID",
          sortable: true,
          type: "string",
        },
        {
          name: "FULLNAME",
          required: true,
          label: "Full Name",
          field: 'FULLNAME',
          value: "FULLNAME",
          sortable: true,
          type: "string",
        },
        {
          name: "CSMLOG_DOCNO",
          required: true,
          label: "Document ID",
          field: 'CSMLOG_DOCNO',
          value: "CSMLOG_DOCNO",
          sortable: true,
          type: "string",
        },
        {
          name: "CSMLOG_TYPE",
          required: true,
          label: "Type",
          field: 'CSMLOG_TYPE',
          value: "CSMLOG_TYPE",
          format: (val) => val === 'INC' ? 'Pemasukan' : 'Pengeluaran',
          sortable: true,
          type: "string",
        },
        {
          name: "CSMLOG_DESC",
          required: true,
          label: "Log Desc",
          field: "CSMLOG_DESC",
          value: "CSMLOG_DESC",
          sortable: true,
          type: "string",
        },
        {
          name: "CSMLOG_CREATED_AT",
          required: true,
          label: "Date",
          field: "CSMLOG_CREATED_AT",
          value: "CSMLOG_CREATED_AT",
          sortable: true,
          type: "date",
        },
      ],
      JudulTable: "WMS USER LOGS",
      data: [],
      filter: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 20,
        rowsNumber: 5,
      },
      dataAll: [],
      tableRequest: [],
      tableOption: []
    };
  },
  methods: {
    getDataResult(val) {
      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      let opt = {
        methods: "patch",
        url: "api/inventory/wms_user_log/table"
      };

      let optTable = {
        rowKeys: "id"
      };

      // Sendto getData DataTable.vue
      setTimeout(() => {
        this.tableRequest = [];
      }, 100);
      setTimeout(() => {
        this.tableRequest = [opt, val];
      }, 100);
      this.tableOption = optTable;
    },
    onReset(val) {
      this.tableRequest = [];
    },
    cekFilter(val) {
      this.filter = val;
    },
    getSaveStateConfig() {
      return {
        cacheKey: "logs|WMSUserLogs"
      };
    }
  }
};
</script>
