<template>
  <div>
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="normal" label="Normal Input" />
        <q-tab name="revise" label="Revise Input" />
        <q-tab name="reprint" label="Reprint" />
        <q-tab name="report" label="Report Transaction" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="normal">
          <normalInput2 />
        </q-tab-panel>
        <q-tab-panel name="revise">
          <revisiInput />
        </q-tab-panel>
        <q-tab-panel name="reprint">
          <reprint />
        </q-tab-panel>
        <q-tab-panel name="report">
          <report />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>
<script>
import normalInput from './normal';
import normalInput2 from './normalmultiple';

import reprint from './reprint';
import revisiInput from './revisi';
import report from './reportTrans';

import { HelpersComponent } from "components/HelpersComponent";
import _ from "lodash";

export default {
  mixins: [HelpersComponent],
  components: {normalInput, reprint, normalInput2, revisiInput, report},
  data() {
    return {
      tab: 'normal',
    };
  },
};
</script>
