<template>
  <div class="q-pa-md">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas ea nulla
    minus nesciunt qui aperiam hic ipsum doloribus placeat nemo. Inventore
    incidunt voluptatum asperiores ex numquam! Natus rerum dignissimos
    consequatur!

    <q-list bordered separator>
      <q-item clickable v-ripple v-for="(fil, idx) in filter" :key="idx">
        <q-item-section>
          <q-select
            rounded
            outlined
            v-model="fil[0]"
            :options="tableSearch"
            label="Check Data"
            emit-value
            map-options
            dense
          />
        </q-item-section>
        <q-item-section>
          <q-input rounded outlined v-model="fil[2]" label="Parameter" dense />
        </q-item-section>
        <q-item-section side>
          <q-btn
            icon="add"
            flat
            v-if="idx === 0"
            @click="filter.push(['', '=', ''])"
            color="primary"
          />
          <q-btn
            icon="delete"
            flat
            v-else
            @click="filter.splice(idx, 1)"
            color="red"
          />
        </q-item-section>
        <q-item-section side>
          <q-btn
            icon="check"
            flat
            v-if="idx === 0"
            @click="onSubmit()"
            color="green"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <q-table
      title="Data WO"
      :data="data"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      binary-state-sort
    >
    </q-table>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  name: "KitingJob",
  mixins: [HelpersComponent],
  data() {
    return {
      filter: [["PPSN1_WONO", "=", ""]],
      tableSearch: [
        {
          label: "WO / Job No",
          value: "PPSN1_WONO"
        },
        {
          label: "Line No",
          value: "PPSN1_LINENO"
        },
        {
          label: "Process",
          value: "PPSN1_PROCD"
        }
      ],
      loading: false,
      pagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 3,
        rowsNumber: 10
      },
      columns: [
        {
          name: "SPLSCN_DOC",
          required: true,
          label: "PSN No",
          align: "left",
          field: row => row.SPLSCN_DOC,
          sortable: true
        },
        {
          name: "SPLSCN_ORDERNO",
          required: true,
          label: "Machine No",
          align: "left",
          field: row => row.SPLSCN_ORDERNO,
          sortable: true
        },
        {
          name: "PROCD",
          required: true,
          label: "Process",
          align: "left",
          field: row => row.PROCD,
          sortable: true
        }
      ],
      data: []
    };
  },
  //   mounted() {
  //     // get initial data from server (1st page)
  //     this.onRequest({
  //       pagination: this.pagination,
  //       filter: undefined
  //     });
  //   },
  methods: {
    async onRequest(props) {
      const { page, rowsPerPage, sortBy, descending, rowsNumber } = props.pagination;
      const filter = props.filter;

      this.loading = true;

      let posted = await this.postData(
        {
          loading: true,
          methods: "post",
          url: "api/inventory/getDataKitJob"
        },
        {
          pagination: { page, rowsPerPage, sortBy, descending, rowsNumber },
          filter: this.filter
        }
      );

      if (posted) {
        this.data = posted.data
        this.loading = false;
        console.log(posted);
      }
    },
    onSubmit() {
      this.onRequest({
        pagination: this.pagination,
        filter: this.filter
      });
    }
  }
};
</script>
