<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/MutasiStockExport/INC'"
      v-on:filterResult="(val) => getFilterResult(val)"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width: 100%" :key="refresher">
      <DataTable
        :tableKey="'mutasistock|PemasukanPabean'"
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
        v-on:filteredData="cekFilter"
        :filteredData="filter"
        v-on:onBtnClick="clickOnTable"
      />
    </div>

    <q-dialog v-model="showUsers" full-width>
      <q-card class="q-pa-none">
        <q-card-section class="row items-center">
          <q-table
            title="User Logs"
            :rows="choosedUserLogs"
            :columns="columnsLogs"
            row-key="CSMLOG_LINE"
            class="full-width"
            :key="userLogsRefresh"
          />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Ok" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import DataTableFilter from "../../../components/Helper/DataTableFilter.vue";
import DataTable from "../../../components/Helper/DataTable.vue";
import { HelpersComponent } from "../../../components/HelpersComponent";
import saveState from "vue-save-state";

export default {
  name: "PemasukanPabean",
  mixins: [HelpersComponent, saveState],
  components: {
    DataTableFilter,
    DataTable,
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("mutasistock|PemasukanPabean"));
    if (local) {
      this.data = local.data;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
      this.filter = local.filter;
    }
    this.sendLogs(this.JudulTable, "enter_menu", this.authState.auth.MSTEMP_ID);
    console.log(this.data);
  },
  beforeDestroy() {
    this.sendLogs(this.JudulTable, "exit_menu", this.authState.auth.MSTEMP_ID);
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "RCV_BCTYPE",
          required: true,
          label: "Jenis Pabean",
          field: "RPBEA_JENBEA",
          value: "RPBEA_JENBEA",
          sortable: true,
          type: "select",
          selectOpt: [
            {
              label: "BC 1.0",
              value: "10",
            },
            {
              label: "BC 1.1",
              value: "11",
            },
            {
              label: "BC 1.2",
              value: "12",
            },
            {
              label: "BC 1.3",
              value: "13",
            },
            {
              label: "BC 2.0",
              value: "20",
            },
            {
              label: "BC 2.1",
              value: "21",
            },
            {
              label: "BC 2.2",
              value: "22",
            },
            {
              label: "BC 2.3",
              value: "23",
            },
            {
              label: "BC 2.4",
              value: "24",
            },
            {
              label: "BC 2.5",
              value: "25",
            },
            {
              label: "BC 2.6.1",
              value: "261",
            },
            {
              label: "BC 2.6.2",
              value: "262",
            },
            {
              label: "BC 2.7",
              value: "27",
            },
            {
              label: "BC 3.0",
              value: "30",
            },
            {
              label: "BC 3.2",
              value: "32",
            },
            {
              label: "BC 4.0",
              value: "40",
            },
          ],
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "RCV_BCNO",
          required: true,
          label: "No Pabean",
          field: "RPBEA_NUMBEA",
          value: "RPBEA_NUMBEA",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "tglpabean",
          required: true,
          label: "Tgl Pabean",
          field: "RPBEA_TGLBEA",
          value: "RPBEA_TGLBEA",
          type: "date",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "nosj",
          required: true,
          label: "No Bukti",
          field: "RPBEA_NUMSJL",
          value: "RPBEA_NUMSJL",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "tglsj",
          required: true,
          label: "Tgl Bukti",
          field: "RPBEA_RCVEDT",
          value: "RPBEA_RCVEDT",
          type: "date",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "nopen",
          required: true,
          label: "No Aju",
          field: "RPBEA_NUMPEN",
          value: "RPBEA_NUMPEN",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "tglpen",
          required: true,
          label: "Tgl Aju",
          field: "RPBEA_TGLPEN",
          value: "RPBEA_TGLPEN",
          type: "date",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "supp",
          required: true,
          label: "Pengirim Barang",
          field: "MSUP_SUPNM",
          value: "MSUP_SUPNM",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "kodebrg",
          required: true,
          label: "Kode Barang",
          field: "RPBEA_ITMCOD",
          value: "RPBEA_ITMCOD",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "nmbrg",
          required: true,
          label: "Nama Barang",
          field: "MITM_ITMD1",
          value: "MITM_ITMD1",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "jum",
          required: true,
          label: "Jumlah",
          field: "RPBEA_QTYJUM",
          value: "RPBEA_QTYJUM",
          type: "int",
          align: "right",
          headerStyle: "text-align: center",
        },
        {
          name: "um",
          required: true,
          label: "Satuan",
          field: "RPBEA_UNITMS",
          value: "RPBEA_UNITMS",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "valas",
          required: true,
          label: "Valas",
          field: "RPBEA_VALAS",
          value: "RPBEA_VALAS",
          type: "string",
          align: "left",
          headerStyle: "text-align: center",
        },
        {
          name: "nilai",
          required: true,
          label: "Nilai",
          field: "QTY",
          align: "right",
          headerStyle: "text-align: center",
        },
        {
          name: "users",
          required: true,
          label: "User",
          field: "USERS",
          align: "right",
          headerStyle: "text-align: center",
        },
      ],
      options: [
        "BC 1.0",
        "BC 1.1",
        "BC 1.2",
        "BC 1.3",
        "BC 2.0",
        "BC 2.1",
        "BC 2.2",
        "BC 2.3",
        "BC 2.4",
        "BC 2.5",
        "BC 2.6.1",
        "BC 2.6.2",
        "BC 2.7",
        "BC 3.0",
        "BC 3.2",
        "BC 4.0",
      ],
      JudulTable: "LAPORAN PEMASUKAN BARANG PER DOKUMEN PABEAN",
      data: [],
      dataAll: [],
      tableRequest: [],
      tableRequestCurr: [],
      tableOption: [],
      filter: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 20,
        rowsNumber: 5,
      },
      isSubmited: false,
      form: [],
      refresher: 0,
      choosedUserLogs: [],
      showUsers: false,
      columnsLogs: [
        {
          name: 'no',
          required: true,
          label: 'No',
          align: 'left',
          field: row => row.no,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'username',
          required: true,
          label: 'Username',
          align: 'left',
          field: row => row.MSTEMP_ID,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'fullname',
          required: true,
          label: 'Full Name',
          align: 'left',
          field: row => row.MSTEMP_FNM + ' ' + row.MSTEMP_LNM,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'CSMLOG_CREATED_AT',
          required: true,
          label: 'Transaction DateTime',
          align: 'left',
          field: row => row.CSMLOG_CREATED_AT,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'CSMLOG_DESC',
          required: true,
          label: 'Transaction Desc',
          align: 'left',
          field: row => row.CSMLOG_DESC,
          format: val => `${val}`,
          sortable: true
        },
      ],
      userLogsRefresh: 0
    };
  },
  methods: {
    async clickOnTable(val) {
      let posted = await this.postData({
        url: `api/inventory/user_log/${btoa(val.RPBEA_NUMSJL)}`,
        methods: "get",
      });

      if (posted) {
        this.showUsers = true

        setTimeout(() => {
          this.choosedUserLogs = [];
          posted.map(val => this.choosedUserLogs.push(val))
        this.userLogsRefresh = this.userLogsRefresh + 1

          console.log(this.choosedUserLogs)
          }, 3000)
      }
    },
    changeTableHeader(val) {
      console.log(val);
    },
    getDataResult(val) {
      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      console.log("masuk sini");

      this.refresher = this.refresher + 1;
      let opt = {
        methods: "post",
        url: "api/inventory/MutasiStockNew/table",
      };

      let optTable = {
        rowKeys: "RCV_ITMCD",
      };

      // Sendto getData DataTable.vue
      setTimeout(() => {
        this.tableRequest = [];
      }, 100);
      setTimeout(() => {
        this.tableRequest = [opt, val];
      }, 100);
      // this.tableRequestNew = [opt, val];
      this.tableOption = optTable;
    },
    onReset(val) {
      console.log("masuk sini2");
      this.tableRequest = [];
    },
    cekFilter(val) {
      this.filter = val;
    },
    getSaveStateConfig() {
      return {
        cacheKey: "mutasistock|PemasukanPabean",
      };
    },
  },
};
</script>
