<template>
  <div class="q-pa-md">
    <q-table
      title="Scrap Report"
      :data="data"
      :columns="columns"
      row-key="ID_TRANS"
      :pagination.sync="pagination"
      :loading="loading"
      :filter="filter"
      @request="onRequest"
      binary-state-sort
    >
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      filter: "",
      loading: false,
      pagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 5,
        rowsNumber: 10
      },
      columns: [
        {
          name: "ID_TRANS",
          required: true,
          label: "ID Transaction",
          align: "left",
          field: row => row.ID_TRANS,
          sortable: true
        },
        {
          name: "users",
          required: true,
          label: "Creator",
          align: "left",
          field: row => row.users.MSTEMP_FNM + ' ' + row.users.MSTEMP_LNM,
          sortable: true
        },
        {
          name: "mdl",
          required: true,
          label: "Model Scrap QTY",
          align: "left",
          field: row => row.DET ? this.totModel(Object.values(row.DET).filter(detfil => detfil.MDL_FLAG === '1')) : 0,
          sortable: true
        },
        {
          name: "scr",
          required: true,
          label: "Part Scrap QTY",
          align: "left",
          field: row => row.DET ? this.totModel(Object.values(row.DET).filter(detfil => detfil.MDL_FLAG !== '1')) : 0,
          sortable: true
        },
        {
          name: "created_at",
          required: true,
          label: "Created At",
          align: "left",
          field: row => this.parsingisotodatesql(row.created_at),
          sortable: true
        }
      ],
      data: []
    };
  },
  created() {
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    });
  },
  methods: {
    async onRequest(props) {
      const { page, rowsPerPage, sortBy, descending, rowsNumber } = props.pagination;
      const filter = props.filter;

      this.loading = true;

      let posted = await this.postData(
        {
          loading: true,
          methods: "post",
          url: "api/inventory/getdatascrap"
        },
        { ...props.pagination }
      );

      if (posted) {
        this.loading = false;
        this.data = Object.values(posted.data)

        this.pagination.page = posted.current_page
        this.pagination.rowsPerPage = posted.per_page
        this.pagination.sortBy = sortBy
        this.pagination.descending = descending
        this.pagination.rowsNumber = posted.total
        console.log(posted);
      }
      //   console.log([ page, rowsPerPage, sortBy, descending ])
    },
    totModel(arr) {
        if (arr.length > 0) {
            let hasil = 0
            arr.map(valmap => {
                hasil += parseInt(valmap.QTY)
            })

            return hasil
        } else {
            return 0
        }
    }
  }
};
</script>
