<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/MutasiBahanBakuExport'"
      v-on:filterResult="getFilterResult"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width:100%">
      <DataTable
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
      />
    </div>
  </div>
</template>
<script>
import DataTableFilter from "../../../components/Helper/DataTableFilter.vue";
import DataTable from "../../../components/Helper/DataTable.vue";
import { HelpersComponent } from "../../../components/HelpersComponent";
import saveState from "vue-save-state";

export default {
  name: 'BahanBaku',
  mixins: [HelpersComponent, saveState],
  components: {
    DataTableFilter,
    DataTable
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("mutasistock|BahanBaku"));

    if (local) {
      this.data = local.data;
      this.dataAll = local.dataAll;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
    }
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          sortable: true,
          type: "integer",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "itemcode",
          required: true,
          label: "Kode Barang",
          field: "RPRAW_ITMCOD",
          value: "RPRAW_ITMCOD",
          sortable: true,
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nmbrg",
          required: true,
          label: "Nama Barang",
          field: "MITM_ITMD1",
          value: "MITM_ITMD1",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "sat",
          required: true,
          label: "Satuan",
          field: "RPRAW_UNITMS",
          value: "RPRAW_UNITMS",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "tanggal",
          label: "Tanggal",
          field: "RPRAW_DATEIS",
          value: "RPRAW_DATEIS",
          type: "date",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "salawal",
          required: true,
          label: "Saldo Awal",
          field: "SALDO_AWAL",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "masuk",
          required: true,
          label: "Pemasukan",
          field: "SALDO_MASUK",
          editable: true,
          key: 'RPRAW_ITMCOD',
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "keluar",
          required: true,
          label: "Pengeluaran",
          field: "SALDO_KELUAR",
          editable: true,
          key: 'RPRAW_ITMCOD',
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "sesuai",
          required: true,
          label: "Penyesuaian",
          field: "SALDO_ADJ",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "salakhir",
          required: true,
          label: "Saldo Buku",
          field: "SALDO_TOT",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "salopname",
          required: true,
          label: "Stock Opname",
          field: "SALDO_OPN",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "selisih",
          required: true,
          label: "Selisih",
          field: "SALDO_SLS",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "ket",
          required: true,
          label: "Keterangan",
          field: "RPRAW_KET",
          editable: true,
          key: 'RPRAW_ITMCOD',
          align: 'left',
          headerStyle: 'text-align: center',
        },
      ],
      JudulTable: "LAPORAN PERTANGGUNGJAWABAN MUTASI BAHAN BAKU/PENOLONG",
      data: [],
      dataAll: [],
      tableRequest: [],
      tableOption: []
    };
  },
  methods: {
    getDataResult(val) {
      console.log(val);

      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      console.log(val);

      let opt = {
        methods: "post",
        url: "api/inventory/MutasiBahanBaku/table"
      };

      let optTable = {
        rowKeys: "RPRAW_ITMCOD"
      };

      // Sendto getData DataTable.vue
      this.tableRequest = [opt, val];
      this.tableOption = optTable;
    },
    onReset(val) {
      this.tableRequest = [];
    },
    getSaveStateConfig() {
      return {
        cacheKey: "mutasistock|BahanBaku"
      };
    }
  }
};
</script>
