<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/MutasiScrapExport'"
      v-on:filterResult="getFilterResult"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width:100%">
      <DataTable
        :tableKey="'mutasistock|Scrap'"
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
      />
    </div>
  </div>
</template>
<script>
import DataTableFilter from "../../../components/Helper/DataTableFilter.vue";
import DataTable from "../../../components/Helper/DataTable.vue";
import { HelpersComponent } from "../../../components/HelpersComponent";
import saveState from "vue-save-state";

export default {
  name: 'Scrap',
  mixins: [HelpersComponent, saveState],
  components: {
    DataTableFilter,
    DataTable
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("mutasistock|Scrap"));

    if (local) {
      this.data = local.data;
      this.dataAll = local.dataAll;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
    }
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          sortable: true,
          type: "integereger",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "itemcode",
          required: true,
          label: "Kode Barang",
          field: "RPREJECT_ITMCOD",
          value: "RPREJECT_ITMCOD",
          sortable: true,
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nmbrg",
          required: true,
          label: "Nama Barang",
          field: "MITM_ITMD1",
          value: "MITM_ITMD1",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "sat",
          required: true,
          label: "Satuan",
          field: "RPREJECT_UNITMS",
          value: "RPREJECT_UNITMS",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          label: "Tanggal",
          field: "RPREJECT_DATEIS",
          value: "RPREJECT_DATEIS",
          type: "month",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "salawal",
          required: true,
          label: "Saldo Awal",
          field: "SALDO_AWAL",
          align: 'right',
          type: "integer",
          headerStyle: 'text-align: center',
        },
        {
          name: "masuk",
          required: true,
          label: "Pemasukan",
          field: "SALDO_MASUK",
          align: 'right',
          type: "integer",
          headerStyle: 'text-align: center',
        },
        {
          name: "keluar",
          required: true,
          label: "Pengeluaran",
          field: "SALDO_KELUAR",
          type: "integer",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "sesuai",
          required: true,
          label: "Penyesuaian",
          field: "SALDO_ADJ",
          type: "integer",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "salakhir",
          required: true,
          label: "Saldo Buku",
          field: "SALDO_TOT",
          type: "integer",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "salopname",
          required: true,
          label: "Stock Opname",
          field: "SALDO_OPN",
          type: "integer",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "selisih",
          required: true,
          label: "Selisih",
          field: "SALDO_SLS",
          type: "integer",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "ket",
          required: true,
          label: "Keterangan",
          field: "RPREJECT_KET",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
      ],
      JudulTable: "LAPORAN PERTANGGUNGJAWABAN MUTASI BARANG REJECT/ SCRAP",
      data: [],
      dataAll: [],
      tableRequest: [],
      tableOption: []
    };
  },
  methods: {
    getDataResult(val) {
      console.log(val);

      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      console.log(val);

      let opt = {
        methods: "post",
        url: "api/inventory/MutasiScrap/table"
      };

      let optTable = {
        rowKeys: "RCV_ITMCD"
      };

      // Sendto getData DataTable.vue
      this.tableRequest = [opt, val];
      this.tableOption = optTable;
    },
    onReset(val) {
      this.tableRequest = [];
    },
    getSaveStateConfig() {
      return {
        cacheKey: "mutasistock|Scrap"
      };
    }
  }
};
</script>
