<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/MutasiWIPExport'"
      v-on:filterResult="getFilterResult"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width:100%">
      <DataTable
        :tableKey="'mutasistock|WIP'"
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
      />
    </div>
  </div>
</template>
<script>
import DataTableFilter from "../../../components/Helper/DataTableFilter.vue";
import DataTable from "../../../components/Helper/DataTable.vue";
import { HelpersComponent } from "../../../components/HelpersComponent";
import saveState from "vue-save-state";

export default {
  name: 'WIP',
  mixins: [HelpersComponent, saveState],
  components: {
    DataTableFilter,
    DataTable
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("mutasistock|WIP"));

    if (local) {
      this.data = local.data;
      this.dataAll = local.dataAll;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
    }
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "RPWIP_ITMCOD",
          required: true,
          label: "Kode Barang",
          field: "RPWIP_ITMCOD",
          sortable: true,
          value: "RPWIP_ITMCOD",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "MITM_ITMD1",
          required: true,
          label: "Nama Barang",
          field: "MITM_ITMD1",
          value: "MITM_ITMD1",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          label: "Tanggal",
          field: "RPWIP_DATEIS",
          value: "RPWIP_DATEIS",
          type: "date",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "MITM_STKUOM",
          required: true,
          label: "Satuan",
          field: "MITM_STKUOM",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "QTY",
          required: true,
          label: "Saldo Akhir",
          field: "QTY",
          value: "QTY",
          type: "integer",
          align: 'right',
          headerStyle: 'text-align: center',
        },
      ],
      JudulTable: "LAPORAN POSISI WIP",
      data: [],
      dataAll: [],
      tableRequest: [],
      tableOption: []
    };
  },
  methods: {
    getDataResult(val) {
      console.log(val);

      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      console.log(val);

      let opt = {
        methods: "post",
        url: "api/inventory/MutasiWIP/table"
      };

      let optTable = {
        rowKeys: "RCV_ITMCD"
      };

      // Sendto getData DataTable.vue
      this.tableRequest = [opt, val];
      this.tableOption = optTable;
    },
    onReset(val) {
      this.tableRequest = [];
    },
    getSaveStateConfig() {
      return {
        cacheKey: "mutasistock|WIP"
      };
    }
  }
};
</script>
