<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn
        flat
        dense
        round
        @click="sendClicktoHome(!leftDrawerOpen)"
        icon="menu"
        aria-label="Menu"
      />

      <q-toolbar-title>
        Warehouse Inventory
      </q-toolbar-title>

      <q-btn-dropdown flat icon="settings">
        <q-list>
          <q-item clickable v-close-popup @click="logout">
            <q-item-section>
              <q-item-label>Logout</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>

      <!-- <div>Quasar v{{ $q.version }}</div> -->
    </q-toolbar>
  </q-header>
</template>
<script>
import { HelpersComponent } from "../../components/HelpersComponent";
export default {
  props: ["drawerClickAction"],
  mixins: [HelpersComponent],
  data() {
    return {
      leftDrawerOpen: false
    };
  },
  methods: {
    sendClicktoHome(value) {
      console.log(value);

      this.leftDrawerOpen = value;
      this.$emit("headerClickChange", this.leftDrawerOpen);
    },
    logout(){
      this.sendLogs('Logout Apps', 'logged_out', this.authState.auth.MSTEMP_ID)
      localStorage.clear();
      this.$router.push('/login')
    }
  },
  watch: {
    drawerClickAction: function(val) {
      this.leftDrawerOpen = val;
    }
  }
};
</script>
