<template>
  <q-drawer
    v-model="leftDrawerOpen"
    @on-layout="testlayout"
    bordered
    content-class="bg-grey-2"
    @hide="sendBackHome()"
  >
    <q-scroll-area
      style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <q-item
          clickable
          v-ripple
          @click="sendUrl('home')"
          :active="link === 'home'"
          active-class="my-menu-link"
          exact
        >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
            <q-item-label caption>View Homepage</q-item-label>
          </q-item-section>
        </q-item>
        <template v-for="(drawer, index) in drawerList">
          <q-expansion-item
            expand-separator
            :icon="drawer.MENU_ICON"
            :label="drawer.MENU_NAME"
            :caption="drawer.MENU_DSCRPTN"
            :key="index"
            v-if="drawer.child && drawer.child.length > 0"
            :content-inset-level="0.5"
          >
            <template v-for="(drawerChild, indexChild) in drawer.child">
              <q-item
                clickable
                v-ripple
                @click="sendUrl(drawerChild.MENU_URL)"
                :active="link === drawerChild.MENU_URL"
                active-class="my-menu-link"
                exact
                :key="indexChild"
              >
                <q-item-section avatar>
                  <q-icon :name="drawerChild.MENU_ICON" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ drawerChild.MENU_NAME }}</q-item-label>
                  <q-item-label caption>{{
                    drawerChild.MENU_DSCRPTN
                  }}</q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-expansion-item>

          <q-item
            clickable
            v-ripple
            @click="sendUrl(drawer.MENU_URL)"
            :active="link === drawer.MENU_URL"
            active-class="my-menu-link"
            exact
            :key="index"
            v-else
          >
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ drawer.MENU_NAME }}</q-item-label>
              <q-item-label caption>{{ drawer.MENU_DSCRPTN }}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-scroll-area>

    <q-img
      class="absolute-top"
      :src="'statics/img/headerDrawer.jpg'"
      style="height: 150px"
    >
      <div class="absolute-bottom bg-transparent">
        <q-avatar size="56px" class="q-mb-sm">
          <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
        </q-avatar>
        <div class="text-weight-bold">
          {{ userList.MSTEMP_FNM }} {{ userList.MSTEMP_LNM }}
        </div>
        <div>@{{ userList.MSTEMP_ID }}</div>
      </div>
    </q-img>
  </q-drawer>
</template>
<script>
import { HelpersComponent } from "../../components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  props: ["drawerClickAction", "drawerList", "userList", "choosedMenus"],
  data() {
    return {
      leftDrawerOpen: false,
      link: "home",
      choosedMenu: []
    };
  },
  methods: {
    sendBackHome() {
      this.leftDrawerOpen = false;
      this.$emit("drawerClickChange", this.leftDrawerOpen);
    },
    sendUrl(url) {
      if (url) {
        this.link = url;
        this.$emit("URLChanged", url);
      }
    },
    testlayout(val) {
      this.leftDrawerOpen = val;
      this.$emit("drawerClickChange", this.leftDrawerOpen);
    }
  },
  watch: {
    drawerClickAction: function(val) {
      this.leftDrawerOpen = val;
    },
    choosedMenus: function(val) {
        this.link = val        
    }
  }
};
</script>
<style lang="sass">
.my-menu-link
  color: white
  background: #F2C037
</style>
