<template>
  <div class="q-pa-md">
    <q-form @submit="onPrint" @reset="onReset" class="q-gutter-md">
      <q-input
        label="ID Form Scrap Report"
        v-model="idScrap"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type something']"
      />

      <div class="q-gutter-sm">
        <q-radio v-model="printact" val="scr_report" label="Scrap Report" />
        <q-radio
          v-model="printact"
          val="det_report"
          label="Component Scrap Report"
        />
      </div>

      <div>
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn
          label="Reset"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
  </div>
</template>
<script>
import { QSpinnerFacebook } from "quasar";
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      idScrap: "",
      printact: "scr_report"
    };
  },
  methods: {
    onPrint() {
      this.$q
        .dialog({
          title: "Confirm",
          message:
            "Do you want to print this report ? this action maybe will take time.",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.$q.loading.show({
            spinner: QSpinnerFacebook,
            spinnerSize: 140,
            backgroundColor: "cyan",
            message: "We're being calculate the report for you. Hang on...",
            messageColor: "black"
          });
          this.$axios
            .get(
              `${this.mainUrl}api/inventory/printScrap/${this.printact === 'scr_report' ? btoa(this.idScrap) : btoa(this.idScrap) + '/' + this.printact }`,
              {
                responseType: "arraybuffer",
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/pdf"
                }
              }
            )
            .then(response => {
              console.log(response);
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", "scrap_report.pdf");
              link.setAttribute("target", "_blank");
              document.body.appendChild(link);
              link.click();

              this.$q.loading.hide();
              this.$q.notify({
                color: "green",
                message: "Download success."
              });
            })
            .catch(e => {
              this.$q.loading.hide();
              this.$q.notify({
                color: "negative",
                message: "Whoops, something wrong."
              });
            });
        });
    },
    onReset() {
      this.idScrap = "";
    }
  }
};
</script>
