<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">Process Master</div>
    </q-card-section>

    <q-separator />

    <q-card-section style="max-height: 50vh" class="scroll">
      <q-input v-model="form.code" label="Process Code" />
      <q-input v-model="form.desc" label="Process Name" />
    </q-card-section>

    <q-card-section>
      <q-table
        title="Process Master List"
        :data="data"
        :columns="columns"
        row-key="name"
      />
    </q-card-section>

    <q-card-actions align="right">
      <q-btn flat label="Close" color="red" v-close-popup />
      <q-btn flat label="Submit" color="primary" @click="storeProcess" />
    </q-card-actions>
  </q-card>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      form: {
        code: "",
        desc: ""
      },
      data: [],
      columns: [
        {
          name: "RPDSGN_CODE",
          required: true,
          label: "Process Code",
          align: "left",
          field: row => row.RPDSGN_CODE,
          sortable: true
        },
        {
          name: "RPDSGN_DESC",
          required: true,
          label: "Process Name",
          align: "left",
          field: row => row.RPDSGN_DESC,
          sortable: true
        }
      ]
    };
  },
  created() {
    this.getListProcess();
  },
  methods: {
    async getListProcess() {
      let posted = await this.postData({
        loading: true,
        methods: "get",
        url: "api/inventory/getListProcess"
      });

      if (posted) {
        this.data = posted;
      }
    },
    async storeProcess() {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to save the change?",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          let posted = await this.postData(
            {
              loading: true,
              methods: "post",
              url: "api/inventory/storeProcessMstr"
            },
            this.form
          );
          if (posted) {
            this.$q.notify("Save Success");
            this.getListProcess();
            this.onClear()
          }
        });
    },
    onClear() {
      Object.keys(this.form).map(val => {
        this.form[val] = "";
      });
    }
  }
};
</script>
