<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">List Mapping Design</div>
    </q-card-section>

    <q-card-section>
      <q-table
        title="Data Design"
        :data="data"
        :columns="columns"
        row-key="id"
        binary-state-sort
        selection="single"
        :selected.sync="selected"
      >
      </q-table>
    </q-card-section>
  </q-card>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      columns: [
        {
          name: "RPDSGN_DESC",
          required: true,
          label: "Process Design Name",
          align: "left",
          field: row => row.RPDSGN_DESC,
          sortable: true
        }
      ],
      data: [],
      selected: []
    };
  },
  created() {
    this.getProcess();
  },
  methods: {
    async getProcess() {
      let posted = await this.postData({
        loading: true,
        methods: "get",
        url: "api/inventory/getListMapProcess"
      });

      if (posted) {
        this.data = posted;
      }
    }
  },
  watch: {
    selected: {
      deep: true,
      handler(val) {
        if (val.length > 0) {
          this.$emit("input", val);
        }
      }
    }
  }
};
</script>
