<template>
  <div class="q-pa-md">
    <q-input
      dense
      label="Design Process Name"
      v-model="form.proDesc"
      rounded
      outlined
    >
      <template v-slot:append>
        <q-btn
          icon="search"
          color="orange"
          flat
          round
          dense
          @click="listDesignMapping = !listDesignMapping"
        />
      </template>
      <template v-slot:after>
        <q-btn
          dense
          flat
          label="Add Process"
          @click="addProcess = !addProcess"
          color="primary"
        />
        <q-btn
          dense
          flat
          label="Add Mapping"
          @click="addMapping()"
          color="secondary"
        />
      </template>
    </q-input>
    <br />
    <q-input dense label="Search" v-model="searched" v-if="form.listMapping.length > 0"/>
    <q-scroll-area style="height: 55vh">
      <q-list bordered>
        <template v-for="(mapping, idx) in form.listMapping">
          <q-item-label header :key="idx + 'title'">
            <div class="row">
              <div class="col text-h6">No {{ idx + 1 }}</div>
              <div class="col text-right">
                <q-btn
                  flat
                  icon="delete"
                  color="red"
                  @click="form.listMapping.splice(idx, 1)"
                />
              </div>
            </div>
          </q-item-label>

          <q-separator :key="idx + 'separator'" />

          <q-item clickable v-ripple :key="idx + 'content'">
            <q-item-section>
              <q-select
                v-model="mapping.model"
                use-input
                fill-input
                input-debounce="1000"
                label="Assy Code Choose"
                :options="mapping.modelList"
                @filter="
                  (val, update, abort) => getModelList(val, update, abort, idx)
                "
                @filter-abort="abortFilterFn"
                dense
                emit-value
                map-options
                use-chips
                :loading="mapping.loading"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple :key="idx + 'content2'">
            <q-item-section>
              <q-input dense v-model="mapping.code" label="Code" />
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple :key="idx + 'content3'">
            <q-item-section
              v-for="mappingDet in mapping.listProcess"
              :key="mappingDet.key"
            >
              <q-input
                dense
                v-model="mappingDet.val"
                :label="mappingDet.label"
              />
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-scroll-area>
    <br />
    <div class="row">
      <div class="col">
        <q-btn label="Upload Mapping Data" color="green" @click="uploadData = !uploadData" />
        <q-btn label="Download Template" color="primary" @click="onDownloadTemplate()" flat />
      </div>
      <div class="col text-right">
        <q-btn label="Submit" color="primary" @click="submitMappingProcess()" />
        <q-btn label="Reset" color="primary" @click="onClear()" flat />
        <q-btn
          label="Delete"
          color="red"
          icon="delete"
          flat
          :disable="form.idPro === '' ? true : false"
        />
      </div>
    </div>

    <q-dialog v-model="addProcess" full-width>
      <addProcess />
    </q-dialog>

    <q-dialog v-model="listDesignMapping" full-width>
      <findMapping v-model="finded" />
    </q-dialog>
    
    <q-dialog v-model="uploadData" full-width>
      <uploadMapping />
    </q-dialog>

  </div>
</template>
<script>
import addProcess from "./addProcess";
import findMapping from "./findMapping";
import uploadMapping from './uploadMapping';

import { HelpersComponent } from "components/HelpersComponent";
import _ from "lodash";

export default {
  mixins: [HelpersComponent],
  components: { addProcess, findMapping, uploadMapping },
  data() {
    return {
      addProcess: false,
      listDesignMapping: false,
      uploadData: false,
      form: {
        idPro: "",
        proDesc: "",
        listMapping: []
      },
      processList: [],
      searched: "",
      finded: []
    };
  },
  async created() {
    await this.getProcess();
    this.addMapping();
  },
  methods: {
    getModelList(val, update, abort, idx) {
      update(async () => {
        if (val !== "") {
          const needle = val.toLowerCase();
          let posted = await this.postData({
            loading: false,
            methods: "get",
            url: `api/inventory/getItemModel/${btoa(needle)}`
          });

          this.form.listMapping[idx].loading = true;

          if (posted) {
            this.form.listMapping[idx].modelList = [];
            posted.map(valMap => {
              this.form.listMapping[idx].modelList.push({
                value: valMap.MITM_ITMCD.trim(),
                label: `${valMap.MITM_ITMD1.trim()} (${valMap.MITM_ITMCD.trim()})`
              });
            });
            this.form.listMapping[idx].loading = false;
          }
        }
      });
    },
    async getProcess() {
      let posted = await this.postData({
        loading: true,
        methods: "get",
        url: "api/inventory/getListProcess"
      });

      if (posted) {
        this.processList = posted;
      }
    },
    abortFilterFn() {
      // console.log('delayed filter aborted')
    },
    addMapping() {
      if (this.form.proDesc === "") {
        this.$q.notify({
          message: "Whoops, please fill Process Name first !",
          color: "red"
        });
      } else {
        console.log(this.processList);
        let passing = [];
        this.processList.map(val => {
          passing.push({
            key: val.RPDSGN_CODE,
            label: val.RPDSGN_DESC,
            val: ""
          });
        });

        this.form.listMapping.push({
          modelList: [],
          model: null,
          code: "",
          listProcess: passing,
          loading: false
        });
      }
    },
    submitMappingProcess() {
      if (this.form.listMapping.length === 0) {
        this.$q.notify({
          message: "Whoops, please add at least one mapping !",
          color: "red"
        });
      } else {
        this.$q
          .dialog({
            title: "Confirm",
            message: `Would you like to ${
              this.form.idPro === "" ? "save" : "update"
            } this design ?`,
            cancel: true,
            persistent: true
          })
          .onOk(async () => {
            let posted = await this.postData(
              {
                loading: true,
                methods: "post",
                url: "api/inventory/storeProcessMapping"
              },
              this.form
            );

            if (posted) {
              this.$q.notify({
                message: "Save success !",
                color: "green"
              });

              this.onClear();
            }
          });
      }
    },
    onClear() {
      this.form = {
        idPro: "",
        proDesc: "",
        listMapping: []
      };
    },
    onDownloadTemplate() {
      this.$q
          .dialog({
            title: "Confirm",
            message: 'Do you want to download process design template ?',
            cancel: true,
            persistent: true
          })
          .onOk(async () => {
             let posted = await this.postData(
              {
                loading: true,
                methods: "get",
                url: "api/inventory/downloadTemplateMapping"
              }
            );

            if (posted) {
              window.open(this.mainUrl + posted, "_blank");
              // console.log(posted)
            }
          })
    }
  },
  watch: {
    finded: {
      deep: true,
      handler(val) {
        if (val.length > 0) {
          this.listDesignMapping = false;

          let hasilDB = val[0];

          console.log(hasilDB);
          let parseMapping = [];

          this.form = {
            idPro: hasilDB.id,
            proDesc: hasilDB.RPDSGN_DESC,
            listMapping: [],
            loading: false
          };

          hasilDB.DET.map(async (valmap, idx) => {
            // await this.getModelList(valmap.RPDSGN_ITEMCD, "", "", idx);
            let passing = [];
            valmap.PROCESS.map(valDet => {
              passing.push({
                key: valDet.RPDSGN_PRO_ID,
                label: valDet.process_mstr.RPDSGN_DESC,
                val: valDet.RPDSGN_PROCD
              });
            });

            this.form.listMapping.push({
              modelList: [],
              model: valmap.RPDSGN_ITEMCD,
              code: valmap.RPDSGN_CODE,
              listProcess: passing,
              loading: false
            });
            // let passing = [];
            // this.processList.map(val => {
            //   passing.push({
            //     key: val.RPDSGN_CODE,
            //     label: val.RPDSGN_DESC,
            //     val: ""
            //   });
            // });
          });

          // parseMapping.push({
          //   modelList: [],
          //   model: valmap.RPDSGN_ITEMCD,
          //   code: valmap.RPDSGN_CODE,
          //   listProcess: passing
          // });
        }
      }
    }
  }
};
</script>
