<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">Upload Mapping</div>
    </q-card-section>

    <q-card-section>
      <q-uploader
        url="http://localhost:4444/upload"
        color="teal"
        flat
        bordered
        class="full-width window-height"
        auto-upload
        :factory="factoryFn"
        accept=".xlsx, .xls"
        :form-fields="files => [{ name: 'file', value: files[0] }]"
        @failed="info => failedupload(info)"
      />
    </q-card-section>
  </q-card>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  methods: {
    factoryFn(file) {
      return new Promise((resolve, reject) => {
        resolve({
          url: this.mainUrl + "api/inventory/uploadDataMapping",
          method: "POST",
          header: [
            { name: "Content-Type", value: "multipart/form-data" },
            { name: "Accept", value: "application/json, text/plain, */*" }
          ]
        });
      });
    },
    failedupload(val) {
      let hasilfailed = JSON.parse(val.xhr.response);

      hasilfailed.forEach(fetch => {
        this.$q.notify({
          color: "negative",
          message: fetch,
          icon: "report_problem"
        });
      });
    }
  }
};
</script>
