<template>
  <div class="q-pa-md">
    <q-stepper
      v-model="step"
      vertical
      color="primary"
      animated
      :key="refreshedKey"
    >
      <q-step :name="1" title="Select Item" icon="settings" :done="step > 1">
        Select your item part / model part, it will automatically will change
        your next choose

        <itemPart v-model="form" />

        <q-stepper-navigation>
          <q-btn
            @click="step = 2"
            color="primary"
            label="Continue"
            :disable="form.length > 0 ? false : true"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step
        :name="2"
        title="Create a description"
        icon="create_new_folder"
        :done="step > 2"
      >
        Complete description here to create new scrap transaction

        <dojob :itemlist="form" v-model="form" />
        <q-stepper-navigation>
          <q-btn
            @click="step = 3"
            color="primary"
            label="Continue"
            :disable="
              form && form.filter(val => val.wo === '').length == 0
                ? false
                : true
            "
          />
          <q-btn
            flat
            @click="step = 1"
            color="primary"
            label="Back"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step
        :name="3"
        title="Additional Information"
        icon="add_comment"
        :done="step > 3"
      >
        Add additional information for this scrap report

        <additionalInfo v-model="dept" v-on:input="parsingDept" />

        <q-stepper-navigation>
          <q-btn
            @click="step = 4"
            color="primary"
            label="Continue"
            :disable="
              form && form.filter(valfildept => valfildept.dept).length > 0
                ? false
                : true
            "
          />
          <q-btn
            flat
            @click="step = 2"
            color="primary"
            label="Back"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </q-step>

      <q-step :name="4" title="Fill Scrap Info" icon="add_comment">
        Now fill scrap information for this form

        <scrapInput :form="form" v-model="choosedProces" />

        <q-stepper-navigation>
          <q-btn
            color="primary"
            label="Finish"
            @click="onSubmit()"
            :disabled="cekProcess()"
          />
          <q-btn
            flat
            @click="step = 3"
            color="primary"
            label="Back"
            class="q-ml-sm"
          />
        </q-stepper-navigation>
      </q-step>
    </q-stepper>
    <q-btn label="reset" color="primary" flat @click="onReset(true)" />
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
import _ from "lodash";
import saveState from "vue-save-state";

import itemPart from "./selectItemPartModel";
import dojob from "./selectDOAndJob";
import additionalInfo from "./additionalInfo";
import scrapInput from "./scrapInput";

export default {
  mixins: [HelpersComponent,saveState],
  components: { itemPart, dojob, additionalInfo, scrapInput },
  data() {
    return {
      step: 1,
      form: [],
      form2: [],
      choosedProces: [],
      refreshedKey: 0,
      dept: ""
    };
  },
  created() {
    let local = JSON.parse(localStorage.getItem("SCRRPT"));

    console.log(local)
  },
  methods: {
    cekProcess() {
      if (this.choosedProces.length === 0) {
        return true;
      } else {
        // const cekProc = this.choosedProces.filter(fil1 =>
        //   fil1.choosedProces.filter(fil2 =>
        //     fil2.PROCESS.filter(fil3 => fil3.scrapqty).length > 0
        //   )
        // );

        const cekProc = this.choosedProces.filter(fil1 =>
          fil1.choosedProces.some(fil2 =>
            fil2.PROCESS.some(fil3 => fil3.scrapqty)
          )
        );

        console.log([this.choosedProces.length, this.form.length])

        if ((this.choosedProces.length === this.form.length) && cekProc.length > 0) {
          return false
        } else {
          return true
        }
      }
    },
    parsingDept(valS) {
      this.form.map(val => {
        val["dept"] = valS;
      });

      console.log(this.form);
    },
    onSubmit() {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Do you want to process this scrap report ?",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          const data = {
            form: this.choosedProces,
            type: "NORM",
            username: this.authState.auth.MSTEMP_ID
          };

          let posted = await this.postData(
            {
              loading: true,
              methods: "post",
              url: "api/inventory/storeHistScrap"
            },
            data
          );

          if (posted) {
            console.log(posted);
            this.$q.notify({
              message: "Input success !",
              color: "green"
            });

            this.onPrint(posted);

            this.onReset();
          }
        });
    },
    onPrint(id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Do you want to print this report ?",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          this.$axios
            .get(`${this.mainUrl}api/inventory/printScrap/${btoa(id)}`, {
              responseType: "arraybuffer",
              headers: {
                "Content-Type": "application/json",
                Accept: "application/pdf"
              }
            })
            .then(response => {
              console.log(response);
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", "scrap_report.pdf");
              document.body.appendChild(link);
              link.click();
            });
        });
    },
    onReset(confirm = false) {
      if (confirm) {
        this.$q
          .dialog({
            title: "Confirm",
            message: "Do you want to reset this input ?",
            cancel: true,
            persistent: true
          })
          .onOk(async () => {
            this.refreshedKey = this.refreshedKey + 1;
            this.step = 1;
            // this.form = {
            //   model: [],
            //   process: "",
            //   wo: "",
            //   do: "",
            //   dept: ""
            // };
            this.form = [];
            this.choosedProces = [];
          });
      } else {
        this.refreshedKey = this.refreshedKey + 1;
        this.step = 1;
        // this.form = {
        //   model: [],
        //   process: "",
        //   wo: "",
        //   do: "",
        //   dept: ""
        // };

        this.form = [];
        this.choosedProces = [];
      }
    },
    getSaveStateConfig() {
      return {
        cacheKey: "SCRRPT"
      };
    }
  }
};
</script>
