<template>
  <div>
    <q-list bordered class="rounded-borders" :key="test">
      <q-expansion-item
        expand-separator
        icon="settings_input_component"
        :label="partmodel.model.desc"
        :caption="partmodel.model.item"
        v-for="(partmodel, idx) in form"
        :key="idx"
        :header-class="
          partmodel.process == '' || partmodel.wo == ''
            ? 'bg-red text-white'
            : 'bg-teal text-white'
        "
        expand-icon-class="text-white"
      >
        <q-card>
          <q-card-section>
            <q-list v-if="dataMapping[idx] && dataMapping[idx].length > 0">
              <q-item-label header>Choose Mapping Process</q-item-label>

              <q-item
                tag="label"
                v-ripple
                v-for="data in dataMapping[idx]"
                :key="data.id"
              >
                <q-item-section>
                  <q-item-label>{{ data.RPDSGN_DESC }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-radio dense v-model="choosedProces[idx]" :val="data.DET" />
                </q-item-section>
              </q-item>
            </q-list>

            <q-list
              v-if="(dataMapping[idx] && choosedProces[idx]) && (dataMapping[idx].length > 0 && choosedProces[idx].length > 0)"
            >
              <q-item-label header>Choose Process</q-item-label>

              <q-item
                tag="label"
                v-ripple
                v-for="(dataDet, idxDet) in choosedProces[idx][0].PROCESS"
                :key="dataDet.id"
              >
                <q-item-section>
                  <q-item-label
                    >{{ dataDet.process_mstr.RPDSGN_DESC }} ({{
                      dataDet.RPDSGN_PRO_ID
                    }})</q-item-label
                  >
                </q-item-section>
                <q-item-section side>
                  <q-input
                    label="Qty"
                    type="number"
                    v-model="choosedProces[idx][0].PROCESS[idxDet]['scrapqty']"
                  />
                  <q-input
                    label="Reason"
                    v-model="choosedProces[idx][0].PROCESS[idxDet]['reason']"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  props: ["value", "form"],
  data() {
    return {
      dataMapping: [],
      choosedProces: [],
      test: 0
    };
  },
  created() {
    this.form.map(async (forms, idx) => {
      if (forms.model && forms.model.flag == "1") {
        this.dataMapping[idx] = await this.findMappingProcess(idx);
        this.test = this.test + 1
      } else {
        this.dataMapping[idx] = [
          {
            RPDSGN_DESC: "Scrap Material Part",
            DET: [
              {
                PROCESS: [
                  {
                    id: "",
                    RPDSGN_PROCD: "PART SCRAP",
                    RPDSGN_PRO_ID: "PART",
                    process_mstr: {
                      RPDSGN_DESC: "PROCESS PART SCRAP"
                    }
                  }
                ]
              }
            ]
          }
        ];
      }
    });
  },
  methods: {
    async findMappingProcess(idx) {
      let posted = await this.postData({
        loading: true,
        methods: "get",
        url: `api/inventory/getListMapProcess/${btoa(
          this.form[idx].model.item
        )}`
      });

      if (posted) {
        return posted
      } else {
        return []
      }
    }
  },
  watch: {
    choosedProces: {
      deep: true,
      handler(val) {
        const newArr = []
        val.map((valler, idx) => {
          newArr[idx] = {...this.form[idx], choosedProces: valler}
        })

        this.$emit("input", newArr);
        console.log(val);
      }
    }
  }
};
</script>
