<template>
  <div>
    <q-select
      v-model="model"
      use-input
      fill-input
      input-debounce="3000"
      label="Find and choose your item"
      :options="modelList"
      @filter="(val, update, abort) => getModelList(val, update)"
      dense
      emit-value
      map-options
      :loading="loading"
      @input="pushModel"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">
            No results
          </q-item-section>
        </q-item>
      </template>
      <template v-slot:append>
        <q-btn round dense flat icon="check" color="green"/>
      </template>
    </q-select>

    <br>

    <q-list bordered separator>
      <q-item clickable v-ripple v-for="(mdl, idx) in modelTemp" :key="idx">
        <q-item-section avatar>
          {{mdl.model.item}}
        </q-item-section>
        <q-item-section>{{mdl.model.desc}}</q-item-section>
        <q-item-section side><q-btn flat icon="delete" color="red" @click="modelTemp.splice(idx, 1)"/></q-item-section>
      </q-item>
    </q-list>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
export default {
  props: ["value"],
  mixins: [HelpersComponent],
  data() {
    return {
      model: null,
      modelTemp: [],
      modelList: [],
      loading: false
    };
  },
  created() {
    if (this.value) {
      this.modelTemp = this.value;
    }
  },
  methods: {
    pushModel(val) {
      console.log(val)
      this.modelTemp.push({model: val, wo: '', process: ''})

      this.model = null
    },
    getModelList(val, update) {
      update(async () => {
        if (val !== "") {
          const needle = val.toLowerCase();
          let posted = await this.postData({
            loading: true,
            methods: "get",
            url: `api/inventory/getItemModel/${btoa(needle)}`
          });

          this.loading = true;

          if (posted) {
            this.modelList = [];
            posted.map(valMap => {
              this.modelList.push({
                value: {
                  item: valMap.MITM_ITMCD.trim(),
                  desc: valMap.MITM_ITMD1.trim(),
                  flag: valMap.MITM_MODEL
                },
                label: `${valMap.MITM_ITMD1.trim()} (${valMap.MITM_ITMCD.trim()})`
              });
            });
            this.loading = false;
          }
        } 
        // else {
        //   this.modelList = [];
        // }
      });
    }
  },
  watch: {
    model: {
      deep: true,
      handler(val) {
        this.$emit("input", val);
      }
    },
    modelTemp: {
      deep: true,
      handler(val) {
        if (val) {
          this.model = val;
        }
      }
    }
  }
};
</script>
