<template>
  <div>
    <q-list bordered class="rounded-borders">
      <q-expansion-item
        expand-separator
        icon="settings_input_component"
        :label="partmodel.model.desc"
        :caption="partmodel.model.item"
        v-for="(partmodel, idx) in itemlist"
        :key="idx"
        :header-class="
          (partmodel.model.flag === '1' && partmodel.wo == '') || partmodel.model.flag !== '1' && (partmodel.process == '' || partmodel.wo == '')
            ? 'bg-red text-white'
            : 'bg-teal text-white'
        "
        expand-icon-class="text-white"
      >
        <q-card>
          <q-card-section>
            <template v-if="partmodel.model.flag === '1'">
              <span class="text-h6">Model Choosed</span>
              <br />
              <!-- <q-input
                v-model="partmodel.process"
                label="Process Code"
                dense
                :debounce="2000"
                @input="val => checkProcess(val, idx)"
              />
              <br /> -->
              <q-select
                v-model="partmodel.wo"
                :options="filteredWOList"
                dense
                label="Job Number Choose"
                use-input
                input-debounce="2000"
                @filter="(val, update, abort) => filterWOListNew(val, update, abort, idx)"
              />
              <!-- <q-select
                v-model="partmodel.wo"
                :options="filteredWOList"
                dense
                label="Job Number Choose"
                use-input
                @filter="(val, update) => filterWOList(val, update, idx)"
                :disable="woList.length > 0 ? false : true"
              /> -->
            </template>
            <template v-else>
              <span class="text-h6">Part Choosed</span>
              <q-input
                v-model="partmodel.process"
                label="LOT No"
                dense
                :debounce="2000"
                @input="val => checkProcess(val, idx)"
              />
              <br />
              <q-select
                v-model="partmodel.wo"
                :options="filteredDOList"
                dense
                label="DO Number Choose"
                use-input
                @filter="filterDOList"
                :disable="doList.length > 0 ? false : true"
              />
            </template>
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
  </div>
</template>
<script>
import { HelpersComponent } from "components/HelpersComponent";
import _ from "lodash";
export default {
  mixins: [HelpersComponent],
  props: ["value", "itemlist"],
  data() {
    return {
      form: [],
      filteredWOList: [],
      woList: [],
      filteredDOList: [],
      doList: []
    };
  },
  // created() {
  //   this.itemlist.map(val => {
  //     this.form.push({
  //       ...val,
  //       wo: '', process: ''
  //     })
  //   })
  //   console.log(this.value);
  // },
  methods: {
    checkProcess(val, idx) {
      if (val !== "") {
        console.log(this.itemlist[idx]);
        if (this.itemlist[idx].model.flag == "1") {
          this.findJob(idx, val);
        } else {
          this.findDO(idx, val);
        }
      }
    },
    async findJob(idx, search = '') {
      let posted = await this.postData(
        {
          loading: true,
          methods: "post",
          url: "api/inventory/findListWO"
        },
        { model: this.itemlist[idx].model, process: this.itemlist[idx].process, search: search }
      );

      if (posted) {
        if (posted.length > 0) {
          this.woList = [];
          this.doList = [];
          posted.map(val => {
            this.woList.push(val.PIS2_WONO);
          });

          this.$q.notify({
            message: "Job Number found !",
            color: "green"
          });

          return posted
        } else {
          this.$q.notify({
            message: "Whoops, no Job Number found !",
            color: "red"
          });

          this.form.process = "";
          this.woList = [];
        }
      }
    },

    async findDO(idx) {
      let posted = await this.postData(
        {
          loading: true,
          methods: "post",
          url: "api/inventory/findListDO"
        },
        { model: this.itemlist[idx].model, process: this.itemlist[idx].process }
      );

      if (posted) {
        if (posted.length > 0) {
          this.doList = [];
          this.woList = [];
          posted.map(val => {
            this.doList.push(val.RCVSCN_DONO);
          });

          this.$q.notify({
            message: "DO Number found !",
            color: "green"
          });
        } else {
          this.$q.notify({
            message: "Whoops, no DO Number found !",
            color: "red"
          });

          this.doList = [];
        }
      }
    },

    filterWOList(val, update, idx) {
      if (val === "") {
        console.log(this.woList);
        update(() => {
          this.filteredWOList = this.woList;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      const hasil = [];
      update(() => {
        const needle = val.toLowerCase();
        this.filteredWOList = this.woList.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },

    filterWOListNew(val, update, abort, idx) {
      if (val.length < 5) {
        abort()
        return
      }

      // if (val === "") {
      //   update(() => {
      //     this.filteredWOList = [];

      //     // with Quasar v1.7.4+
      //     // here you have access to "ref" which
      //     // is the Vue reference of the QSelect
      //   });
      //   return;
      // }

      const hasil = [];
      update(async () => {
        await this.findJob(idx, val)
        this.filteredWOList = this.woList
      });
    },
    filterDOList(val, update, idx) {
      if (val === "") {
        update(() => {
          this.filteredDOList = this.doList;

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        });
        return;
      }

      const hasil = [];
      update(() => {
        const needle = val.toLowerCase();
        this.filteredDOList = this.doList.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  },
  watch: {
    "form.process": function(val) {
      if (val !== "") {
        if (this.partmodel.flag == "1") {
          this.findJob();
        } else {
          this.findDO();
        }
      }
    },
    itemlist: {
      deep: true,
      handler(val) {
        this.$emit("input", val);
      }
    },
    form: {
      deep: true,
      handler(val) {
        let cekkosong = Object.keys(val).filter(valfil => !valfil);

        if (cekkosong.length === 0) {
          this.$emit("input", {
            model: this.partmodel,
            process: this.form.process,
            wo: this.form.wo,
            dept: ""
          });
        }
      }
    }
  }
};
</script>
