<template>
  <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md q-pa-md">
    <q-input
      filled
      v-model="role_id"
      label="Role ID *"
      lazy-rules
      :rules="[
        val => (val && val.length > 0) || 'Please type something',
        val => (val && /^[\S]+$/.test(val)) || 'Please dont add space'
      ]"
      @input="val => checkID(val)"
      :disable="edited"
    >
      <template v-slot:append>
        <q-btn
          round
          dense
          flat
          icon="search"
          @click="searchrole = !searchrole"
        />
      </template>
    </q-input>

    <q-input
      filled
      v-model="role_name"
      label="Role Name *"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Please type something']"
      ref="inputname"
      :disable="edited"
    />
    <hr />
    <q-expansion-item
      :content-inset-level="1"
      expand-separator
      :icon="menudata[menu].MENU_ICON"
      :label="menudata[menu].MENU_NAME"
      v-for="(menu, idx) in Object.keys(menudata)"
      :key="idx"
    >
      <q-item
        tag="label"
        v-ripple
        :key="idx_det"
        v-for="(menu_det, idx_det) in menudata[menu].child"
      >
        <q-item-section top avatar>
          <q-avatar
            color="primary"
            text-color="white"
            :icon="menu_det.MENU_ICON"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ menu_det.MENU_NAME }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle color="blue" v-model="selected" :val="menu_det.MENU_ID" />
        </q-item-section>
      </q-item>
    </q-expansion-item>

    <div>
      <q-btn :label="submitButton" type="submit" color="primary" />
      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />

      <q-btn
        label="delete"
        type="submit"
        color="red"
        flat
        class="q-ml-sm float-right"
        v-if="status == 'update' || status == 'delete'"
        @click="status = 'delete'"
      />
    </div>

    <q-dialog v-model="searchrole" persistent>
      <SearchRoleComp v-on:searchdata="getDataRole" :listrole="roledata" />
    </q-dialog>
    {{ selected }}
  </q-form>
</template>
<script>
import { HelpersComponent } from "../../../components/HelpersComponent";
import SearchRoleComp from "./SearchRole";
import saveState from "vue-save-state";
import _ from "lodash";

export default {
  components: { SearchRoleComp },
  mixins: [HelpersComponent, saveState],
  data() {
    return {
      role_id: "",
      role_name: "",
      notif1: false,
      edited: false,
      roledata: [],
      rolesearch: [],
      menudata: [],
      selected: [],
      submitButton: "Submit",
      status: "new",
      searchrole: false
    };
  },
  created() {
    this.getallrole();
    this.getallmenu();
  },
  methods: {
    checkID: _.debounce(async function(val) {
      if (val) {
        let opt = {
          methods: "get",
          url: `api/getrole/${val}`,
          loading: true
        };

        let hasil = await this.postData(opt);

        if (hasil && hasil.length > 0) {
          this.$q
            .dialog({
              title: "Confirm",
              message: "This ID is exists, do want to update?",
              cancel: true,
              persistent: true
            })
            .onOk(() => {
              console.log(hasil);

              this.edited = true;
              this.selected = [];
              hasil.map(val_menu => {
                this.selected.push(val_menu.EMPACCESS_MENUID);
              });
              this.role_id = val;
              this.role_name = hasil[0].group.MSTGRP_NM;
              this.status = 'update'
            })
            .onCancel(() => {
              this.onReset();
            });
        } else {
          this.$q.notify({
            color: "primary",
            message: "Add new Data",
            icon: "add"
          });
        }
      }
    }, 500),
    async getallrole() {
      let opt = {
        methods: "get",
        url: `api/getallrole`,
        loading: true
      };

      let hasil = await this.postData(opt);

      if (hasil) {
        this.roledata = hasil;
      }
    },
    async getallmenu() {
      let opt = {
        methods: "get",
        url: `api/mobile/getmenuall/parent`,
        loading: true
      };

      let hasil = await this.postData(opt);

      if (hasil) {
        this.menudata = hasil;
      }
    },
    async getDataRole(val) {
      this.searchrole = false;
      this.checkID(val);
    },
    onReset() {
      this.role_id = "";
      this.role_name = "";
      this.notif1 = false;
      this.rolesearch = [];
      this.selected = [];
      this.submitButton = "Submit";
      this.status = "new";
      this.edited = false;
    },
    async onSubmit() {
      let opt = {
        methods: "post",
        url: `api/roleadd/${this.status}`,
        loading: true
      };

      let data = {
        role_id: this.role_id,
        role_name: this.role_name,
        selected: this.selected
      };

      this.$q
        .dialog({
          title: "Confirm",
          message: this.status === 'new'
            ? 'Are you sure want to save this data ?'
            : (this.status === 'update'
              ? 'Do you want update this data ?'
              : 'Do you want to delete this data ? This action not reversible!!'
            ),
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          let hasil = await this.postData(opt, data);

          if (hasil) {
            alert("Saved successful");
            this.onReset();
            this.getallrole();
            this.getallmenu();
          } else {
            this.onReset();
          }
        })
    },
    getSaveStateConfig() {
      return {
        cacheKey: "Role"
      };
    }
  },
  watch: {
    selected: {
      handler: function(val) {
        if (val[val.length -1]) {
          let cekparent = this.menudata.map(val_sel => {
            let checkchild = val_sel.child.filter(val_child => val_child.MENU_ID === val[val.length -1]);
            if (checkchild.length > 0) {
              let cekinserted = this.selected.filter(val_insrt => val_insrt === val_sel.MENU_ID);
              if (cekinserted.length === 0) {
                this.selected.push(val_sel.MENU_ID);
              }
            }
          });
        }
      },
      deep: true
    }
  }
};
</script>
