<template>
  <q-card style="width: 100vh">
    <q-card-section>
      <div class="text-h4">Browse Menu</div>
    </q-card-section>
    <q-card-section class="q-pt-none">
      <q-select
        filled
        v-model="role"
        :options="list_role"
        label="Choose Registered Role"
        color="teal"
        options-selected-class="text-deep-orange"
        emit-value
        map-options
      />
    </q-card-section>
    <q-list>
      <q-item clickable :disable="role ? false : true" @click="chooseRole()">
        <q-item-section avatar>
          <q-icon color="primary" name="print" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Update Role</q-item-label>
          <q-item-label caption
            >Update this Role, choose data above first.</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item clickable v-close-popup>
        <q-item-section avatar>
          <q-icon color="yellow" name="cancel" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Cancel</q-item-label>
          <q-item-label caption>Close this modal.</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
export default {
  props: ["listrole"],
  created(){
    this.list_role = []
    Object.keys(this.listrole).map(val => {
      this.list_role.push({
        value: val,
        label: this.listrole[val].DESC
      })
    });
    console.log(this.listrole)
  },
  data() {
    return {
      role: "",
      list_role: []
    };
  },
  methods: {
      chooseRole(){
          this.$emit('searchdata',this.role)
      }
  }
};
</script>
