<template>
  <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
    <q-input
      filled
      v-model="username"
      label="Your username *"
      hint="Username"
      lazy-rules
      :rules="[
        val => (val && val.length > 0) || 'Please type something',
        val => (val && /^[\S]+$/.test(val)) || 'Please dont add space'
      ]"
    />

    <q-input
      filled
      v-model="fname"
      label="Your First name *"
      hint="Name and surname"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Please type something']"
    />

    <q-input
      filled
      v-model="lname"
      label="Your Last name"
      hint="Name and surname"
    />

    <q-input
      filled
      v-model="nik"
      label="Your NIK *"
      hint="NIK (Nomor Induk Karyawan)"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Please type something']"
    />

    <q-input
      type="password"
      filled
      v-model="password"
      label="Password *"
      hint="Password for login"
      lazy-rules
      :rules="[val => (val && val.length > 0) || 'Please type something']"
    />

    <q-input
      type="password"
      filled
      v-model="password_confirmation"
      label="Confirm Password *"
      hint="Password Confirmation"
      lazy-rules
      :rules="[
        val => (val && val.length > 0) || 'Please type something',
        val =>
          val === password || 'Password is not match, please check it again'
      ]"
    />

    <div>
      <q-btn label="Submit" type="submit" color="primary" />
      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
    </div>
  </q-form>
</template>

<script>
import { HelpersComponent } from "../../../components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      username: "",
      fname: "",
      lname: "",
      nik: "",
      password: "",
      password_confirmation: ""
    };
  },
  methods: {
    async onSubmit(){
      let opt = {
        methods: "post",
        url: `api/register`,
        loading: true
      };

      let data= {
        username: this.username,
        fname: this.fname,
        lname: this.lname,
        nik: this.nik,
        password: this.password,
        password_confirmation: this.password_confirmation,
      }

      let hasil = await this.postData(opt, data);

      if (hasil) {
        alert('Save Successfull')
        this.onReset()
      }
    },
    onReset(){
      this.username = ""
      this.fname = ""
      this.lname = ""
      this.nik = ""
      this.password = ""
      this.password_confirmation = ""
    }
  }
};
</script>
