<template>
  <div class="q-pa-md">
    <q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      binary-state-sort
      separator="vertical"
    >
      <template v-slot:top>
        <q-btn
          flat
          dense
          color="primary"
          :disable="loading"
          label="Add Users"
          @click="toggleUser()"
        />
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="MSTEMP_ID" :props="props">
            {{ props.row.MSTEMP_ID }}
            <!-- <q-popup-edit v-model="props.row.MSTEMP_ID" buttons>
              <q-input v-model="props.row.MSTEMP_ID" dense autofocus counter />
            </q-popup-edit> -->
          </q-td>
          <q-td key="MSTEMP_FNM" :props="props">
            {{ props.row.MSTEMP_FNM }}
            <q-popup-edit
              v-model="props.row.MSTEMP_FNM"
              title="Update First Name"
              buttons
              @save="
                (val, initialValue) =>
                  savedfname(val, initialValue, props.row.MSTEMP_ID)
              "
            >
              <q-input v-model="props.row.MSTEMP_FNM" dense autofocus />
            </q-popup-edit>
          </q-td>
          <q-td key="MSTEMP_LNM" :props="props">
            <div class="text-pre-wrap">{{ props.row.MSTEMP_LNM }}</div>
            <q-popup-edit
              v-model="props.row.MSTEMP_LNM"
              title="Update Last Name"
              @save="
                (val, initialValue) =>
                  savedlname(val, initialValue, props.row.MSTEMP_ID)
              "
              buttons
            >
              <q-input v-model="props.row.MSTEMP_LNM" dense autofocus />
            </q-popup-edit>
          </q-td>
          <q-td key="MSTEMP_NIK" :props="props">
            <div class="text-pre-wrap">{{ props.row.MSTEMP_NIK }}</div>
            <q-popup-edit
              v-model="props.row.MSTEMP_NIK"
              title="Update NIK"
              buttons
              persistent
              @save="
                (val, initialValue) =>
                  savednik(val, initialValue, props.row.MSTEMP_ID)
              "
            >
              <q-input v-model="props.row.MSTEMP_NIK" dense autofocus />
            </q-popup-edit>
          </q-td>
          <q-td key="MSTEMP_GRP" :props="props">
            {{ props.row.MSTEMP_GRP }}
            <q-popup-edit
              v-model="props.row.MSTEMP_GRP"
              title="Update Role"
              buttons
              persistent
              @save="
                (val, initialValue) =>
                  savedrole(val, initialValue, props.row.MSTEMP_ID)
              "
            >
              <q-select
                v-model="props.row.MSTEMP_GRP"
                :options="options"
                label="Role"
                emit-value
                map-options
              />
            </q-popup-edit>
          </q-td>
          <q-td key="act_user" :props="props">
            {{props.row.MSTEMP_ACTSTS === "1" ? 'Active' : 'Not Active'}}
            <q-popup-edit
              v-model="props.row.MSTEMP_ACTSTS"
              title="Update User Status"
              buttons
              persistent
              @save="
                (val, initialValue) =>
                  savedstat(val, initialValue, props.row.MSTEMP_ID)
              "
            >
              <q-select
                v-model="props.row.MSTEMP_ACTSTS"
                :options="[
                  {
                    value: '1',
                    label: 'Activate'
                  },
                  {
                    value: '0',
                    label: 'Deactivate'
                  }
                ]"
                label="Status"
                emit-value
                map-options
              />
            </q-popup-edit>
          </q-td>
          <q-td key="Action" :props="props">
            <q-btn-group spread>
              <q-btn
                color="red"
                icon="delete"
                @click="deleteuser(props.row.MSTEMP_ID)"
              />
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <q-dialog v-model="addnew">
      <q-card class="q-pa-md" style="width: 100vh">
        <addUser />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { HelpersComponent } from "../../../components/HelpersComponent";

import addUser from "./AddUser";

export default {
  mixins: [HelpersComponent],
  components: { addUser },
  data() {
    return {
      columns: [
        {
          name: "MSTEMP_ID",
          required: true,
          align: "left",
          label: "Username",
          field: "MSTEMP_ID"
        },
        {
          name: "MSTEMP_FNM",
          required: true,
          align: "left",
          label: "First Name",
          field: "MSTEMP_FNM"
        },
        {
          name: "MSTEMP_LNM",
          required: true,
          align: "left",
          label: "Last Name",
          field: "MSTEMP_LNM"
        },
        {
          name: "MSTEMP_NIK",
          required: true,
          align: "left",
          label: "NIK",
          field: "MSTEMP_NIK"
        },
        {
          name: "MSTEMP_GRP",
          required: true,
          align: "left",
          label: "Role",
          field: "MSTEMP_GRP"
        },
        {
          name: "act_user",
          required: true,
          align: "left",
          label: "Activate User",
          field: "MSTEMP_ACTSTS"
        },
        {
          name: "Action",
          required: true,
          align: "left",
          label: "Action",
          field: "MSTEMP_ID"
        }
      ],
      data: [],
      options: [],
      addnew: false,
      loading: false,
      form: []
    };
  },
  created() {
    this.getuser();
    this.getallrole();
  },
  methods: {
    toggleUser() {
      this.addnew = !this.addnew;
    },
    async getuser() {
      let opt = {
        methods: "get",
        url: `api/userlists/custom`
      };

      let a = await this.postData(opt);

      if (a) {
        this.data = a;
      }
    },
    async getallrole() {
      let opt = {
        methods: "get",
        url: `api/getallrole`,
        loading: true
      };

      let hasil = await this.postData(opt);

      if (hasil) {
        this.options = [];
        Object.keys(hasil).map(val => {
          this.options.push({
            value: val,
            label: hasil[val].DESC
          });
        });
      }
    },
    updateheader(id) {
      let opt = {
        methods: "post",
        url: `api/updateuser/${id}`,
        loading: true
      };

      return opt;
    },
    async savedfname(val, initialValue, id) {
      let opt = this.updateheader(id);
      let data = {
        fname: val
      };

      let hasil = await this.postData(opt, data);

      if (hasil) {
        this.$q.notify({
          color: "green",
          message: `Data updated for username ${id}`
        });
      }
    },
    async savedlname(val, initialValue, id) {
      let opt = this.updateheader(id);
      let data = {
        lname: val
      };

      let hasil = await this.postData(opt, data);

      if (hasil) {
        this.$q.notify({
          color: "green",
          message: `Data updated for username ${id}`
        });
      }
    },
    async savednik(val, initialValue, id) {
      let opt = this.updateheader(id);
      let data = {
        nik: val
      };

      let hasil = await this.postData(opt, data);

      if (hasil) {
        this.$q.notify({
          color: "green",
          message: `Data updated for username ${id}`
        });
      }
    },
    async savedrole(val, initialValue, id) {
      let opt = this.updateheader(id);
      let data = {
        role: val
      };

      let hasil = await this.postData(opt, data);

      if (hasil) {
        this.$q.notify({
          color: "green",
          message: `Data updated for username ${id}, please logout for check the change!!`
        });

        if (this.authState.auth.MSTEMP_ID === id) {
          localStorage.clear();
          this.$router.push("/login");
        }
      }
    },
    async savedstat(val, initialValue, id) {
      let opt = this.updateheader(id);
      let data = {
        status: val
      };

      let hasil = await this.postData(opt, data);

      if (hasil) {
        this.$q.notify({
          color: "green",
          message: `User has updated for username ${id}`
        });
      }
    },
    async deleteuser(id) {
      let opt = {
        methods: "get",
        url: `api/deleteuser/${id}`,
        loading: true
      };

      this.$q
        .dialog({
          title: "Confirm",
          message:
            "Do you want to delete this user? this action not reversible!!",
          cancel: true,
          persistent: true
        })
        .onOk(async () => {
          let hasil = await this.postData(opt);
          if (hasil) {
            this.$q.notify({
              color: "yellow",
              message: `User ${id} has been deleted !!`
            });

            if (this.authState.auth.MSTEMP_ID === id) {
              localStorage.clear();
              this.$router.push("/login");
            }
          }
        });

      this.getuser();
    }
  },
  watch: {
    props: function(params) {
      console.log(params);
    }
  }
};
</script>
