<template>
  <div class="q-pa-md">
    <q-dialog v-model="expanded" full-width>
      <q-card>
        <q-card-section>
          <div class="row">
            <div class="col">
              <div class="text-h6">Filter</div>
            </div>
            <div class="col text-right">
              <q-btn icon="close" flat @click="expanded = !expanded" />
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <div class="row" v-for="(forms, index) in form" :key="index">
              <!-- Kolom -->
              <div
                :class="`${
                  forms.readonlyfield ? 'col-2' : 'col'
                } justify-center`"
                style="padding-left: 5px"
              >
                <q-select
                  v-model="forms.field"
                  label="Pilih Parameter"
                  :options="filteredTableHeader"
                  behavior="menu"
                  @input="
                    (val) => {
                      onselectParam(val, index);
                    }
                  "
                  :readonly="forms.readonlyfield"
                  dense
                  v-if="!forms.readonlyfield"
                />
                <span v-else>
                  {{ forms.field.label }}
                </span>
              </div>
              <!-- Operation -->
              <div
                class="col justify-center"
                style="padding-left: 5px"
                v-if="!forms.readonlyop"
              >
                <q-select
                  v-model="forms.op"
                  label="Pilih Kondisi"
                  :options="condition"
                  behavior="menu"
                  emit-value
                  map-options
                  :readonly="forms.readonlyop"
                  dense
                >
                  <template v-slot:after>
                    <q-btn
                      round
                      dense
                      flat
                      icon="info"
                      color="blue"
                      @click="showInfo()"
                    />
                  </template>
                </q-select>
              </div>
              <!-- Value -->
              <div class="col justify-center" style="padding-left: 5px">
                <!-- Jika valuenya select -->
                <q-select
                  v-if="forms.field.type === 'select'"
                  v-model="forms.valselect"
                  label="Pilih Parameter"
                  :options="forms.field.selectOpt"
                  behavior="menu"
                  multiple
                  emit-value
                  dense
                />

                <!-- Jika valuenya pilih tanggal -->
                <DatePicker
                  v-if="forms.field.type === 'date'"
                  :labeldate="'Pilih Tanggal'"
                  v-model="forms.val"
                  :value="new Date().toJSON().slice(0, 10)"
                />

                <!-- Jika valuenya pilih bulan -->
                <vue-monthly-picker
                  v-model="forms.val"
                  :value="forms.val"
                  v-if="forms.field.type === 'month'"
                  :monthLabels="locale"
                  @input="(val) => showDate(index, val)"
                >
                </vue-monthly-picker>

                <!-- Jika valuenya string -->
                <q-input
                  v-if="forms.field.type === 'string'"
                  v-model="forms.val"
                  filled
                  label="Value"
                  dense
                />

                <!-- Jika valuenya integer -->
                <q-input
                  v-if="forms.field.type === 'int'"
                  v-model="forms.val"
                  filled
                  label="Value"
                  type="number"
                  dense
                />
              </div>

              <!-- Jika valuenya range tanggal -->
              <template
                v-if="forms.op === 'range'"
              >
                <div class="col self-center text-center">
                  <b>TO</b>
                </div>
                <div class="col justify-center">
                  <q-select
                    v-if="forms.field.type === 'select'"
                    v-model="forms.val2"
                    label="Input Value"
                    :options="forms.field.selectOpt"
                    behavior="menu"
                    dense
                  />
                  <DatePicker
                    v-if="forms.field.type === 'date'"
                    :labeldate="'Choose Date'"
                    v-model="forms.val2"
                  />

                  <!-- <q-select
                    v-if="forms.field.type === 'month'"
                    v-model="forms.val2"
                    label="Pilih Bulan"
                    :options="bulan"
                    behavior="menu"
                    emit-value
                  /> -->
                  <vue-monthly-picker
                    v-model="forms.val2"
                    :value="forms.val2"
                    v-if="forms.field.type === 'month'"
                    :monthLabels="locale"
                    @input="(val) => showDate(index, val)"
                  >
                  </vue-monthly-picker>
                  <q-input
                    v-if="forms.field.type === 'string'"
                    v-model="forms.val2"
                    filled
                    label="Value"
                    dense
                  />
                  <q-input
                    v-if="forms.field.type === 'int'"
                    v-model="forms.val2"
                    filled
                    label="Value"
                    type="number"
                    dense
                  />
                </div>
              </template>
              <div
                class="col self-center text-center"
                style="padding-left: 5px"
                v-if="index === 0"
              >
                <q-btn
                  outline
                  style="color: blue"
                  label="+"
                  @click="addRow()"
                  v-if="authState.auth.MSTEMP_GRP === 'RPCUST_ROOT'"
                />
              </div>
              <div
                class="col self-center text-center"
                style="padding-left: 5px"
                v-else
              >
                <q-btn
                  outline
                  style="color: red"
                  label="-"
                  @click="removeRow(index)"
                  v-if="authState.auth.MSTEMP_GRP === 'RPCUST_ROOT'"
                />
              </div>
            </div>
          </q-form>
        </q-card-section>

        <q-card-actions class="q-pa-md" align="right">
          <div class="row">
            <div class="col justify-center">
              <q-btn
                color="primary"
                label="Submit"
                type="submit"
                @click="onSubmit()"
              />
              <q-btn
                flat
                color="secondary"
                label="Reset"
                type="reset"
                @click="onReset()"
              />
            </div>
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <div class="row">
      <div class="col">
        <q-btn
          label="Filter Option"
          @click="expanded = !expanded"
          icon-right="search"
          color="green"
        />
      </div>
      <div class="col">
        <q-btn-dropdown
          color="secondary"
          label="Export Report"
          class="float-right"
        >
          <q-list>
            <q-item clickable v-close-popup @click="exportTo('excel')">
              <q-item-section avatar>
                <q-avatar size="56px">
                  <img src="statics/img/excel.jpg" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>Excel</q-item-label>
              </q-item-section>

              <q-inner-loading :showing="visibleexcel">
                <q-spinner-hourglass size="50px" color="secondary" />
              </q-inner-loading>
            </q-item>

            <q-item
              clickable
              v-close-popup
              @click="exportTo('pdf')"
              :disable="visiblepdf"
            >
              <q-item-section avatar>
                <q-avatar size="56px">
                  <img src="statics/img/pdf.png" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>PDF</q-item-label>
              </q-item-section>

              <q-inner-loading :showing="visiblepdf">
                <q-spinner-hourglass size="50px" color="red" />
              </q-inner-loading>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import DatePicker from "./DatePicker.vue";
import { HelpersComponent } from "../HelpersComponent";
import saveState from "vue-save-state";
import { MonthPicker } from "vue-month-picker";
import { MonthPickerInput } from "vue-month-picker";
import DefineFilter from "../Other/DefineFilter.json";
import DefinedFilter from "../Other/Definedfilter.js";
import VueMonthlyPicker from "vue-monthly-picker";

Vue.use(MonthPicker);
Vue.use(MonthPickerInput);

export default {
  mixins: [HelpersComponent, saveState],
  components: {
    DatePicker,
    MonthPickerInput,
    VueMonthlyPicker,
  },
  props: [
    "TableHeader",
    "filterResult",
    "dataAllResult",
    "componentsUse",
    "exporturl",
  ],
  created() {
    console.log(DefinedFilter);
    if (this.authState.auth.MSTEMP_GRP !== "RPCUST_ROOT") {
      let defFilter = DefinedFilter.map((val) => {
        if (val.name === this.componentsUse) {
          this.form = val.form;
        }
      });
    }

    let local = JSON.parse(
      localStorage.getItem("datatablefilter|" + this.componentsUse)
    );

    if (local) {
      this.form = local.form;
    }
  },
  data() {
    return {
      form: [
        {
          field: "",
          op: "",
          val: "",
          val2: null,
          valselect: [],
          readonlyop: false,
        },
      ],
      form2: [],
      bulan: [
        {
          label: "Januari",
          value: 1,
        },
        {
          label: "Febuari",
          value: 2,
        },
        {
          label: "Maret",
          value: 3,
        },
        {
          label: "April",
          value: 4,
        },
        {
          label: "Mei",
          value: 5,
        },
        {
          label: "Juni",
          value: 6,
        },
        {
          label: "Juli",
          value: 7,
        },
        {
          label: "Agustus",
          value: 8,
        },
        {
          label: "September",
          value: 9,
        },
        {
          label: "Oktober",
          value: 10,
        },
        {
          label: "November",
          value: 11,
        },
        {
          label: "Desember",
          value: 12,
        },
      ],
      optionsdate: ["2020-01-01"],
      visiblepdf: false,
      visibleexcel: false,
      expanded: true,
      selectedMonth: "",
      locale: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ],
    };
  },
  methods: {
    async onSubmit() {
      if (!this.form[0].field) {
        this.$q.notify({
          color: "negative",
          message: "Pilih setidaknya 1 parameter untuk di filter",
          icon: "report_problem",
        });
      } else {
        this.$emit("filterResult", { form: this.form });
        this.expanded = !this.expanded;
      }
    },
    addRow() {
      this.form.push({
        field: "",
        op: "",
        val: "",
        val2: "",
      });
    },
    removeRow(i) {
      this.form.splice(i, 1);
    },
    showDate(i, val) {
      var date = new Date();
      this.form[i].op = "range";
      this.form[i].val =
        val !== null
          ? new Date(val.add(1, "days")._d)
              .toJSON()
              .slice(0, 10)
              .replace(/-/g, "-")
          : null;

      this.form[i].val2 =
        val !== null
          ? new Date(val._d.getFullYear(), val._d.getMonth() + 1, 0)
              .toJSON()
              .slice(0, 10)
              .replace(/-/g, "-")
          : null;
    },
    onReset() {
      if (this.authState.auth.MSTEMP_GRP !== "RPCUST_ROOT") {
        console.log(this.componentsUse);
        // this.form = [];

        let defFilter = JSON.parse(JSON.stringify(DefinedFilter)).map(
          async (valjson) => {
            if (valjson.name === this.componentsUse) {
              console.log(valjson.form);
              await localStorage.removeItem(
                "datatablefilter|" + this.componentsUse
              );
              await localStorage.removeItem(
                "mutasistock|" + this.componentsUse
              );
              setTimeout(() => {
                this.form = valjson.form;
              }, 10);
              this.$emit("sendReset", valjson.form);
            }
          }
        );
      } else {
        localStorage.removeItem("datatablefilter|" + this.componentsUse);
        localStorage.removeItem("mutasistock|" + this.componentsUse);
        this.form = [];
        this.addRow();
        this.$emit("sendReset", []);
      }
    },
    showInfo() {
      this.$q
        .dialog({
          title: "Info",
          message:
            'Pilih <b>"Contains"</b> jika anda ingin mencari data yang mengandung kata di value <br><br> Pilih <b>"="</b> untuk mencari data sesuai dengan kolom value <br><br> Pilih <b>"Range"</b> untuk memilih sesuai dengan rentang yang di pilih',
          html: true,
        })
        .onOk(() => {
          // console.log('OK')
        });
    },
    async exportTo(val) {
      // console.log(this.dataAllResult);
      if (val === "pdf") {
        this.visiblepdf = true;
      } else {
        this.visibleexcel = true;
      }

      let opt = {
        methods: "post",
        url: this.exporturl,
      };

      let data = {
        data: [],
        param: this.form,
        format: val,
      };

      let hasil = await this.postData(opt, data);

      window.open(this.mainUrl + hasil, "_blank");

      this.$q.notify({
        message: "Data berhasil di download.",
        color: "secondary",
      });

      // if (this.dataAllResult.length === 0) {
      //   this.$q.notify({
      //     message: "Data masih on progress.",
      //     caption: "Data sedang di download, harap tunggu sebentar lagi",
      //     color: "orange"
      //   });
      // } else {
      //   let opt = {
      //     methods: "post",
      //     url: this.exporturl
      //   };

      //   // let data = {
      //   //   data: this.dataAllResult,
      //   //   param: this.form,
      //   //   format: val
      //   // };

      //   let data = {
      //     data: [],
      //     param: this.form,
      //     format: val
      //   };

      //   let hasil = await this.postData(opt, data);

      //   window.open(this.mainUrl + hasil, "_blank");

      //   this.$q.notify({
      //     message: "Data berhasil di download.",
      //     color: "secondary"
      //   });
      // }

      if (val === "pdf") {
        this.visiblepdf = false;
      } else {
        this.visibleexcel = false;
      }
    },
    onselectParam(val, index) {
      this.form[index].val = "";
      this.form[index].val2 = "";

      if (val.type === "select") {
        this.form[index].readonlyop = true;
        this.form[index].op = "equals";
      } else {
        this.form[index].readonlyop = false;
      }
    },
    getSaveStateConfig() {
      return {
        cacheKey: "datatablefilter|" + this.componentsUse,
      };
    },
  },
  computed: {
    filteredTableHeader: function () {
      let hasil = [];
      this.TableHeader.forEach((val) => {
        if (val.value) {
          hasil.push(val);
        }
      });

      return hasil;
    },
  },
};
</script>
