<template>
  <div class="q-pa-md">
    <q-table
      class="my-sticky-header-column-table"
      :title="TableTitle"
      :data="data"
      :columns="headers"
      :row-key="tableOption.rowKeys"
      flat
      bordered
      :loading="loading"
      :pagination.sync="pagination"
      @request="onRequest"
      :filter="filter"
      dense
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td :key="col.name" :props="props" v-for="(col, idx) in props.cols">
            <!-- Editing here -->
            {{ isInt(props.row[col.field]) || isFloat(props.row[col.field]) ? props.row[col.field].toLocaleString() : props.row[col.field] }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>
<script>
import { HelpersComponent } from "../HelpersComponent";
export default {
  mixins: [HelpersComponent],
  props: ["TableTitle", "KolomHeader", "dataHeader", "tableOption"],
  data() {
    return {
      columns: [],
      data: [],
      dataAll: [],
      loading: false,
      loadingAll: false,
      pagination: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 20,
        rowsNumber: 5
      },
      filter: "",
      headers: []
    };
  },
  mounted() {
    this.headers = this.KolomHeader.filter(val => {
      return val.hasOwnProperty("name");
    });
  },
  methods: {
    isInt(n){
        return Number(n) === n && n % 1 === 0;
    },
    isFloat(n){
        return Number(n) === n && n % 1 !== 0;
    },
    async onRequest(props) {
      let {
        page,
        rowsPerPage,
        rowsNumber,
        sortBy,
        descending
      } = props.pagination;
      let joinFirstHeader = { ...this.dataHeader[1], ...props };
      let newHeader = [this.dataHeader[0], joinFirstHeader];

      this.loading = true
      this.loadingAll = true

      console.log('masuk sini')

      // Post Specific data
      let posted = await this.getData(newHeader);

      if (posted) {
        let converttoarray = typeof posted.data === 'object' ? Object.keys(posted.data).map(valmap => {
            return posted.data[valmap];
          }): posted.data ;
        this.data = converttoarray;
        this.pagination.rowsNumber = posted.total;
        this.pagination.page = posted.current_page;
        this.pagination.rowsPerPage = posted.per_page;
        this.loading = false
        this.loadingAll = false
        // this.pagination.sortBy = sortBy;
        // this.pagination.descending = descending;
      }
    },
    async getData(dataHead) {
      let a = await this.postData(dataHead[0], dataHead[1]);

      this.$emit("dataResult", a.data);
      return a;
    },
    async getDataAll() {
      // Post All Data if dataAll is empty
      let propsAll = {
        pagination: {
          descending: false,
          page: 1,
          rowsNumber: 12,
          rowsPerPage: 0,
          sortBy: "name",
          exportData: true
        }
      };

      // console.log(propsAll)

      let joinFirstHeader = { ...this.dataHeader[1], ...propsAll };
      let newHeader = [this.dataHeader[0], joinFirstHeader];

      this.loading = true;
      let hasil = await this.postData(newHeader[0], newHeader[1]);

      if (hasil) {
        this.loading = false;

        let hasiltemp = [];

        hasil.data.forEach((val, idx) => {
          hasiltemp.push(val);
        });

        this.$emit("dataAllResult", hasiltemp);
      }
    },
    async savednih(last, now, index) {
      console.log([last, now, index]);
    }
  },
  watch: {
    dataHeader: async function(params) {
      if (params.length != 0) {
        this.data = [];
        this.dataAll = [];
        // let newHeader = [this.dataHeader[1], this.pagination];
        // console.log(newHeader)
        let getdata = await this.getData(params);
        this.data = getdata.data;
        this.pagination.rowsNumber = getdata.total;

        // this.getDataAll();
      } else {
        this.data = [];
        this.dataAll = [];
      }
    }
  }
};
</script>
<style lang="sass">
.my-sticky-header-column-table
  /* specifying max-width so the example can
    highlight the sticky column on any browser window */
  //max-width: 600px
  background: #c1f4cd

  /* max height is important */
  .q-table__middle
    max-height: 400px
    background: #fff

  td:nth-child(1)
    /* bg color is important for td; just specify one */
    background-color: #bdbdbd !important

  td:nth-child(2)
    /* bg color is important for td; just specify one */
    background-color: #bdbdbd !important

  tr th
    position: sticky
    /* higher than z-index for td below */
    z-index: 2
    /* bg color is important; just specify one */
    background: #c1f4cd

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
    /* highest z-index */
    z-index: 3

  thead tr:nth-child(1) th
    top: 0
    z-index: 2
  tr:nth-child(1) th:nth-child(1)
    /* highest z-index */
    z-index: 3

  td:nth-child(1)
    z-index: 1

  td:nth-child(1), th:nth-child(1)
    position: sticky
    left: 0

  thead tr:nth-child(2) th
    top: 0
    z-index: 1

  tr:nth-child(2) th:nth-child(2)
    /* highest z-index */
    z-index: 3

  td:nth-child(2)
    z-index: 1

  td:nth-child(2), th:nth-child(2)
    position: sticky
    left: 30px

.q-table tbody td
  font-size: 11px

.month-picker__container
  z-index: 2
</style>
