<template>
  <q-layout view="lHh Lpr lFf">
    <Header
      :drawerClickAction="leftDrawerOpen"
      :tab="tab"
      :tabsList="tabsList"
      v-on:headerClickChange="handlerClickChange"
      v-on:tabclosed="handletabclose"
      v-on:tabchoose="handletabchoose"
    />
    <Drawer
      :drawerClickAction="leftDrawerOpen"
      v-on:drawerClickChange="handlerClickChange"
      v-on:URLChanged="handlerURLchange"
      :drawerList="menuList"
      :userList="userList"
      :choosedMenus="tab"
    />
    <q-page-container>
      <q-tabs
        v-model="tab"
        class="bg-orange text-white shadow-2 all-pointer-events"
        align="left"
        inline-label
      >
        <q-tab name="home" label="Home" to="home"></q-tab>

        <q-tab
          :name="tabs.MENU_URL"
          :label="tabs.MENU_NAME"
          v-for="(tabs, index) in tabsList"
          :key="index"
          :to="tabs.MENU_URL"
        >
          <q-btn
            @click="closedTabs(index)"
            round
            dense
            class="q-ml-sm"
            size="xs"
            color="negative"
            icon="close"
          />
        </q-tab>
      </q-tabs>
      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="home">
          <router-view name="helper" />
        </q-tab-panel>
        <q-tab-panel
          :name="tabspanel.MENU_URL"
          v-for="(tabspanel, index) in tabsList"
          :key="index"
          style="padding: 0"
        >
          <component :is="tabspanel.MENU_URL" />
        </q-tab-panel>
      </q-tab-panels>
    </q-page-container>
  </q-layout>
</template>
<script>
import Header from "../pages/Home/Header.vue";
import Drawer from "../pages/Home/NewDrawer.vue";

import mutasistock from "../layouts/ReportLayout";
import wip from "../pages/Report/Pabean/WIP";
import mutasistockincoming from "../pages/Report/Mutasi/Pemasukan";
import mutasistockoutgoing from "../pages/Report/Mutasi/Pengeluaran";
import bahanbaku from "../pages/Report/Pabean/BahanBaku";
import barangjadi from "../pages/Report/Pabean/BarangJadi";
import reject from "../pages/Report/Pabean/Reject";
import mesin from "../pages/Report/Pabean/MesinAlat";
import kitjob from "../pages/Report/KitingJob";

import upscrap from "../pages/Transactions/UploadScrap";
import upmesin from "../pages/Transactions/UploadMesin";
import scrapreport from "../pages/Transactions/scrapReportCreate";
import prodesignmaster from "../pages/Transactions/designProcess";

import userreg from "../pages/Settings/User";
import role from "../pages/Settings/Role";
import menureg from "../pages/Settings/Menu";

import { HelpersComponent } from "../components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      leftDrawerOpen: false,
      menuList: [],
      userList: [],
      tabsList: [],
      tab: "home",
      closedroute: "",
      lastroute: "",
    };
  },
  created() {
    if (this.authState) {
      this.menuList = this.authState.data.parent;
      this.userList = this.authState.auth;

      if (this.tabsList.length == 0) {
        this.$router.push("/home");
      }
    } else {
      this.$router.push("/login");
    }
  },
  components: {
    Header,
    Drawer,
    mutasistockincoming,
    mutasistockoutgoing,
    mutasistock,
    wip,
    bahanbaku,
    barangjadi,
    reject,
    mesin,
    userreg,
    role,
    menureg,
    upscrap,
    upmesin,
    kitjob,
    scrapreport,
    prodesignmaster,
  },
  methods: {
    handlerClickChange(event) {
      this.leftDrawerOpen = event;
    },
    handlerURLchange(event) {
      this.addNewTab(event);
    },
    async addNewTab(url) {
      let hasil = this.findChild(this.authState.data.parent, "/" + url);
      let test2 = this.tabsList.filter((x) => "/" + x.MENU_URL == "/" + url);

      if (url !== "home") {
        if (test2.length === 0) {
          this.tabsList.push(hasil);
          this.tab = url;
        } else {
          this.tab = url;
        }
      }
    },
    findChild(value, filter) {
      let temp, detdemp;
      value.forEach((x) => {
        if ("/" + x.MENU_URL == filter) {
          temp = x;
        } else {
          if (x.child && x.child.length > 0) {
            x.child.forEach((y) => {
              if ("/" + y.MENU_URL == filter) {
                detdemp = y;
              }
            });
            temp = detdemp;
          } else {
            temp = null;
          }
        }
      });

      return temp;
    },
    async closedTabs(i) {
      this.closedroute = this.tabsList[i]["MENU_URL"];

      this.$delete(this.tabsList, i);

      if (this.tabsList.length === 0 || !this.tabsList) {
        this.tab = "home";
      } else {
        if (i === this.tabsList.length) {
          let test = this.tabsList[this.tabsList.length - 1];
          this.tab = test.MENU_URL;
        }
      }
    },
    handletabclose(i) {
      this.closedTabs(i);
    },
    handletabchoose(val) {
      this.addNewTab(val);
    },
  },
  watch: {
    tab: function (paramsnew, paramsold) {
      let hasil = this.findChild(this.authState.data.parent, "/" + paramsnew);
      let test2 = this.tabsList.filter(
        (x) => "/" + x.MENU_URL == "/" + paramsnew
      );

      if (this.tabsList.length === 0) {
        this.tab = "home";
      } else {
        if (test2.length === 0) {
          this.tab = paramsold;
        }
      }
    },
  },
};
</script>
