<template>
  <div class="q-pa-md">
    <DataTableFilter
      :TableHeader="TableHeader"
      :dataAllResult="dataAll"
      :componentsUse="$options.name"
      :exporturl="'api/inventory/MutasiFinishGoodExport'"
      v-on:filterResult="getFilterResult"
      v-on:sendReset="onReset"
    />
    <div class="float-left" style="width:100%">
      <DataTable
        :tableKey="'mutasistock|FinishGood'"
        :TableTitle="JudulTable"
        :KolomHeader="TableHeader"
        :dataHeader="tableRequest"
        :tableOption="tableOption"
        v-on:dataResult="getDataResult"
        v-on:dataAllResult="getDataAllResult"
        v-on:filteredData="cekFilter"
        :filteredData="filter"
      />
    </div>
  </div>
</template>
<script>
import DataTableFilter from "../../../components/Helper/DataTableFilter.vue";
import DataTable from "../../../components/Helper/DataTable.vue";
import { HelpersComponent } from "../../../components/HelpersComponent";
import saveState from "vue-save-state";

export default {
  name: 'FinishGood',
  mixins: [HelpersComponent, saveState],
  components: {
    DataTableFilter,
    DataTable
  },
  mounted() {
    let local = JSON.parse(localStorage.getItem("mutasistock|FinishGood"));

    if (local) {
      this.data = local.data;
      this.filter = local.filter;
      this.tableRequest = local.tableRequest;
      this.tableOption = local.tableOption;
    }
    this.sendLogs(this.JudulTable, 'enter_menu', this.authState.auth.MSTEMP_ID)
  },
  beforeDestroy() {
    this.sendLogs(this.JudulTable, 'exit_menu', this.authState.auth.MSTEMP_ID)
  },
  data() {
    return {
      TableHeader: [
        {
          name: "no",
          required: true,
          label: "No",
          field: "no",
          value: "no",
          sortable: true,
          type: "integer",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "itemcode",
          required: true,
          label: "Kode Barang",
          field: "RPGOOD_ITMCOD",
          value: "RPGOOD_ITMCOD",
          sortable: true,
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "nmbrg",
          required: true,
          label: "Nama Barang",
          field: "MITM_ITMD1",
          value: "MITM_ITMD1",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "sat",
          required: true,
          label: "Satuan",
          field: "RPGOOD_UNITMS",
          value: "RPGOOD_UNITMS",
          type: "string",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          label: "Tanggal",
          field: "RPGOOD_DATEIS",
          value: "RPGOOD_DATEIS",
          type: "month",
          align: 'left',
          headerStyle: 'text-align: center',
        },
        {
          name: "salawal",
          required: true,
          label: "Saldo Awal",
          field: "SALDO_AWAL",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "masuk",
          required: true,
          label: "Pemasukan",
          field: "SALDO_MASUK",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "keluar",
          required: true,
          label: "Pengeluaran",
          field: "SALDO_KELUAR",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "sesuai",
          required: true,
          label: "Penyesuaian",
          field: "SALDO_ADJ",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "salakhir",
          required: true,
          label: "Saldo Buku",
          field: "SALDO_TOT",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "salopname",
          required: true,
          label: "Stock Opname",
          field: "SALDO_OPN",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "selisih",
          required: true,
          label: "Selisih",
          field: "SALDO_SLS",
          align: 'right',
          headerStyle: 'text-align: center',
        },
        {
          name: "ket",
          required: true,
          label: "Keterangan",
          field: "RPGOOD_KET",
          align: 'left',
          headerStyle: 'text-align: center',
        },
      ],
      JudulTable: "LAPORAN PERTANGGUNGJAWABAN MUTASI BARANG JADI",
      data: [],
      filter: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 20,
        rowsNumber: 5,
      },
      dataAll: [],
      tableRequest: [],
      tableOption: []
    };
  },
  methods: {
    getDataResult(val) {
      console.log(val);

      this.data = val;
    },
    getDataAllResult(val) {
      this.dataAll = [];
      this.dataAll = val;
    },
    getFilterResult(val) {
      console.log(val);

      let opt = {
        methods: "post",
        url: "api/inventory/MutasiFinishGood/table"
      };

      let optTable = {
        rowKeys: "RCV_ITMCD"
      };

      // Sendto getData DataTable.vue
      setTimeout(() => {
        this.tableRequest = [];
      }, 100);
      setTimeout(() => {
        this.tableRequest = [opt, val];
      }, 100);
      this.tableOption = optTable;
    },
    onReset(val) {
      this.tableRequest = [];
    },
    cekFilter(val) {
      this.filter = val;
    },
    getSaveStateConfig() {
      return {
        cacheKey: "mutasistock|FinishGood"
      };
    }
  }
};
</script>
