<template>
  <div class="bg-image">
    <div class="center">
      <q-card class="my-card bg-secondary text-white">
        <q-card-section>
          <div class="text-h6">Login IT Inventory</div>
          <div>PT SMT Indonesia</div>
        </q-card-section>

        <q-card-section>
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-input
              filled
              v-model="name"
              label="Username"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />

            <q-input
              filled
              type="Password"
              v-model="password"
              label="Password"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />

            <div>
              <q-btn label="Submit" type="submit" color="primary" />
              <q-btn
                label="Reset"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { HelpersComponent } from "../components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      name: "",
      password: ""
    };
  },
  created(){
    if (this.authState) {
      this.$router.push('/')
    }
  },
  methods: {
    async onSubmit() {
        this.sendLogs('Attempt to login', 'logged_in', this.name)
        let form = {
            username: this.name,
            password: this.password
        }

        let opt = {
            methods: 'post',
            url: 'api/login/inventory',
            loading: true
        }

        let a = await this.postData(opt, form);

        if (a) {
          this.sendLogs('Login Apps', 'logged_in', this.name)
          this.$store.commit("AuthStore/AuthStoreMutation", a);
          this.$router.push('/')
        }

    },
    onReset() {
      this.name = "";
      this.password = "";
    }
  }
};
</script>

<style>
html,
body,
#fullheight {
  margin: 0;
  padding: 0;
  height: 100%;
}
.bg-image {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 111, 121, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: fixed;
  /* display: flex; */
  justify-content: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for IE 9 */
  -webkit-transform: translate(-50%, -50%); /* for Safari */
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  /* optional size in px or %: */
  /* width: 100px; */
  /* height: 100px; */
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
</style>
