<template>
  <q-layout view="lHh Lpr lFf">
    <Header
      :drawerClickAction="leftDrawerOpen"
      :tab="tab"
      :tabsList="tabsList"
      v-on:headerClickChange="handlerClickChange"
    />
    <Drawer
      :drawerClickAction="leftDrawerOpen"
      v-on:drawerClickChange="handlerClickChange"
      :drawerList="menuList"
      :userList="userList"
    />
    <q-page-container>
      <q-tabs
        v-model="tab"
        class="bg-orange text-white shadow-2 all-pointer-events"
        align="left"
        inline-label
      >
        <q-route-tab name="home" label="Home" to="home"></q-route-tab>

        <q-route-tab
          :name="tabs.MENU_ID"
          :label="tabs.MENU_NAME"
          v-for="(tabs, index) in tabsList"
          :key="index"
          :to="tabs.MENU_URL"
        >
          <q-btn
            @click="closedTabs(index)"
            round
            dense
            class="q-ml-sm"
            size="xs"
            color="negative"
            icon="close"
          />
        </q-route-tab>
      </q-tabs>
      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="home">
          <router-view name="helper" />
        </q-tab-panel>
        <q-tab-panel
          :name="tabspanel.MENU_ID"
          v-for="(tabspanel, index) in tabsList"
          :key="index"
        >
          <router-view :name="tabspanel.MENU_URL" />
        </q-tab-panel>
      </q-tab-panels>
    </q-page-container>
  </q-layout>
</template>
<script>
import Header from "../pages/Home/Header.vue";
import Drawer from "../pages/Home/Drawer.vue";

import mutasistock from "../layouts/ReportLayout";
import wip from "../pages/Report/Pabean/WIP";
import bahanbaku from "../pages/Report/Pabean/BahanBaku";
import barangjadi from "../pages/Report/Pabean/BarangJadi";
import reject from "../pages/Report/Pabean/Reject";
import mesin from "../pages/Report/Pabean/MesinAlat";
import kitjob from "../pages/Report/KitingJob";
import logs from "../pages/Logs/UserLogs";

import userreg from "../pages/Settings/User";
import role from "../pages/Settings/Role";
import menu from "../pages/Report/Settings/Menu";

import { HelpersComponent } from "../components/HelpersComponent";
export default {
  mixins: [HelpersComponent],
  data() {
    return {
      leftDrawerOpen: false,
      menuList: [],
      userList: [],
      tabsList: [],
      tab: "home",
      closedroute: "",
      lastroute: ""
    };
  },
  created() {
    if (this.authState) {
      this.menuList = this.authState.data.parent;
      this.userList = this.authState.auth;

      if (this.tabsList.length == 0) {
        this.$router.push("/home");
      }
    } else {
      this.$router.push("/login");
    }
  },
  components: {
    Header,
    Drawer
  },
  methods: {
    handlerClickChange(event) {
      this.leftDrawerOpen = event;
    },
    addNewTab(url) {
      let hasil = this.findChild(this.authState.data.parent, url);
      let test2 = this.tabsList.filter(x => "/" + x.MENU_URL == url);

      if (url != "/home") {
        if (test2.length == 0) {
          this.tabsList.push(hasil);
        } else {
          if (this.$route.path != url) {
            this.$router.push(url);
          }
        }
      }
    },
    findChild(value, filter) {
      let temp, detdemp;
      value.forEach(x => {
        if ("/" + x.MENU_URL == filter) {
          temp = x;
        } else {
          if (x.child.length > 0) {
            x.child.forEach(y => {
              if ("/" + y.MENU_URL == filter) {
                detdemp = y;
              }
            });
            temp = detdemp;
          } else {
            temp = null;
          }
        }
      });

      return temp;
    },
    closedTabs(i) {
      this.closedroute = this.tabsList[i]["MENU_URL"];

      this.$delete(this.tabsList, i);

      let test = this.tabsList[this.tabsList.length - 1];

      if (this.tabsList.length > 0) {
        this.$router.push(test['MENU_URL'])
      } else {
        this.$router.push('/home')
      }
    }
  },
  watch: {
    "$route.path": function(paramsnew, paramsold) {
      if (paramsnew != '/'+this.closedroute) {
        if (paramsnew != "/home" || paramsnew != "home") {
          this.addNewTab(paramsnew);
        }
      } else {
        this.closedroute = ''
        this.$router.push(paramsold)
        console.log(paramsold);
      }
    }
  }
};
</script>
