<template>
  <div>
    <q-tabs v-model="tab" dense class="bg-grey-2 text-teal">
      <q-tab
        :ripple="false"
        name="input"
        icon="input"
        label="Pemasukan Barang"
      />
      <q-tab
        :ripple="false"
        name="output"
        icon="launch"
        label="Pengeluaran Barang"
      />
    </q-tabs>
    <q-separator />
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="input">
        <inbound/>
      </q-tab-panel>
      <q-tab-panel name="output">
        <outbound/>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>
<script>
import inbound from '../pages/Report/Mutasi/Pemasukan'
import outbound from '../pages/Report/Mutasi/Pengeluaran'
export default {
  components: {inbound,outbound},
  data() {
    return {
      tab: "input"
    };
  }
};
</script>
